@{
    ViewBag.Title = "Biểu đồ công việc";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<style>
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .content-body {
        padding: 5px;
    }
</style>

<div class="block-fluid">
    <div class="panel panel-visible">
        <div class="panel-heading br-b-n">
            <div class="panel-title hidden-xs">
                <div class="panel-actions">
                    <div id="datatable-default_filter" class="dataTables_filter" style="margin-right: 10px; float: right;">

                    </div>
                </div>
                <span class="glyphicon glyphicon-tasks"></span> @ViewBag.Title
            </div>
        </div>
        <div class="panel-body pn">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row show-grid" style="margin-bottom: 20px;border-bottom: 1px solid #CFD9DB;padding-bottom: 20px;">
                    <div style="float:left;margin-left:10px;margin-top:10px">
                        <span>Đơn Vị: </span>
                        <select class="form-control" id="cmbDonViID" onchange="donvi_change(this)">
                            <option value="">Chọn đơn vị</option>
                            @try
                            {
                                @Html.Raw(ECP_V2.Business.Repository.DonViRepository.GetAllDonViHtml2(Session["DonViID"].ToString()))
                            }
                            catch { }
                        </select>
                    </div>
                    <div style="float:left;margin-left:10px;margin-top:10px">
                        <span>Kỳ báo cáo: </span>
                        @Html.DropDownList("KYBAOCAO", (IEnumerable<SelectListItem>)ViewBag.ListKBC, "Chọn kỳ báo cáo", new { @class = "form-control", @onchange = "kybaocao_onchange(this)" })
                    </div>
                    <div id="divThoiGian">
                        <div style="float:left;margin-left:10px;margin-top:10px">
                            <span>Từ ngày: </span>
                            <input id="GioBd" type="text" style="width:110px" placeholder="Từ ngày...">
                        </div>
                        <div style="float:left;margin-left:10px;margin-top:10px" id="content-denngay">
                            <span>Đến ngày: </span>
                            <input id="GioKt" type="text" style="width:110px" placeholder="Đến ngày...">
                        </div>
                    </div>
                    <div style="float:left;margin-left:10px;margin-top:5px">
                        <a onclick="Paging()" class="mb-xs mt-xs mr-xs btn btn-primary" style="cursor:pointer;padding: 3px 9px;">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="row show-grid">
                    <div class="listRolesName list" style="margin-top: 5px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        //Menu Collapsed Layout
        $('html').addClass('sidebar-left-collapsed');
        

        //Thay thế kendo

        var yNgay = '@(ViewBag.TuNgay != null?ViewBag.TuNgay : DateTime.Now)'.split(' ')[0];

        var start = $("#GioBd").datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function () {
                start_chage();
            }
        }).val(yNgay);

        var xNgay = '@(ViewBag.DenNgay != null?ViewBag.DenNgay : DateTime.Now)'.split(' ')[0];

        var end = $("#GioKt").datepicker({
                dateFormat: 'dd/mm/yy',
                onSelect: function () {
                    end_chage();
                }
            }).val(xNgay);

        $("#KYBAOCAO option[value=1]").attr("selected", true);
        $('#KYBAOCAO').trigger("chosen:updated");

        kybaocao(1);

    });

    function kybaocao_onchange(el) {
        kybaocao(el.value);
    }

    function kybaocao(ky) {
        $.ajax({
            url: "/Admin/PhienLV/LoadKhoangThoiGian",
            data: {
                KyBaoCao: ky
            },
            type: 'GET',
            success: function (data) {

                $('#divThoiGian').html("");
                $('#divThoiGian').html(data);

            }
        });
    }

    function start_chage() {
        Paging();
    }

    function end_chage() {
        Paging();
    }

    function Paging() {
        loading('Đang tải dữ liệu...', 1);
        $("#preloader").unbind("click");
        $('#preloader').click(function () {
            unloading();
        })

        var scriptUrl = "/Admin/PhienLV/ListBieuDoTronCongViec";
        $.ajax({
            url: scriptUrl,
            type: 'GET',
            dataType: 'html',
            data: {
                DateFrom: $("#GioBd").val(),
                DateTo: $("#GioKt").val(),
                DonViId: $("#cmbDonViID").val(),
            },
            async: false,
            success: function (data) {
                $(".list").html("");
                $(".list").html(data);
                unloading();
            },
            error: function () {
                unloading();
            }
        });
    }

    function donvi_change(el) {
        Paging();
    }

</script>