@using ECP_V2.DataAccess;
@model ECP_V2.Business.Repository.PhienLVModel
@{
    tblDonVi DonVi = null;
    if (ViewBag.DonVi != null)
    {
        DonVi = ViewBag.DonVi;
    }
    tblDonVi DonViCha = null;
    if (ViewBag.DonViCha != null)
    {
        DonViCha = ViewBag.DonViCha;
    }

    string donViID = "";
    if (ViewBag.DonViCha != null)
    {
        donViID = ViewBag.DonViId;
    }

    DateTime TuNgay = (DateTime)ViewBag.TuNgay;

    DateTime DenNgay = (DateTime)ViewBag.DenNgay;


    ECP_V2.Business.Repository.DonViRepository donViRepository = new ECP_V2.Business.Repository.DonViRepository();
    ECP_V2.Business.Repository.d_LoaiCongViecRepository loaiCongViecRepository = new ECP_V2.Business.Repository.d_LoaiCongViecRepository();
    ECP_V2.Business.Repository.NhanVienRepository nhanvienRepository = new ECP_V2.Business.Repository.NhanVienRepository();
    ECP_V2.Business.Repository.TramRepository tramRepository = new ECP_V2.Business.Repository.TramRepository();



    List<tblNhanVien> nhanVien = new List<tblNhanVien>();
    if (ViewBag.nhanVien != null)
    {
        nhanVien = (List<tblNhanVien>)ViewBag.nhanVien;
    }
    string strcon = System.Configuration.ConfigurationManager.ConnectionStrings["IdentityDbContext"].ConnectionString;


}

<link href="/Content/wordsstyle.css?v=@(DateTime.Now.ToString("HHmmssfff"))" rel="stylesheet" />
@Styles.Render("~/Content/themes/admindesign/css")
<link href="/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="/Scripts/fbphotobox/css/fbphotobox.css" rel="stylesheet" />

<script src="/Scripts/jquery-3.6.3.js"></script>
<script src="/Scripts/AdminPanel/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>

@Styles.Render("~/Content/themes/admindesign/css")
@Scripts.Render("~/bundles/admin/jqueryIndex")

<script src="/Scripts/autoresize.jquery.min.js"></script>


<style>
    * {
        font-family: Times New Roman Arial !important;
    }

    .daky {
        font-weight: bold;
    }

    .tbnXoaDong {
        display: none;
        background-color: orangered;
        border: 1px solid #dedede;
        border-radius: 5px;
        font-size: 15px;
        width: 112px;
        line-height: 34px;
        color: #fff;
    }

    .tbnThemDong {
        display: none;
        background: #00b000;
        border: 1px solid #dedede;
        border-radius: 5px;
        font-size: 15px;
        width: 112px;
        line-height: 32px;
        color: #fff;
    }

    .rheaderTB4:hover .tbnThemDongTB4 {
        display: block !important;
    }

    .rheaderTB4:hover .tbnXoaDongTB4 {
        display: block !important;
    }

    .rheaderTB5:hover .tbnThemDongTB5 {
        display: block !important;
    }

    .rheaderTB5:hover .tbnXoaDongTB5 {
        display: block !important;
    }

    @@media print {
        .pagebreak {
            page-break-before: always;
        }
    }

    .table-resizable {
        width: 99%;
        height: 99%
    }

        .table-resizable .resizing {
            cursor: col-resize;
            user-select: none;
        }

        .table-resizable th {
            position: relative;
        }

            .table-resizable th:before {
                cursor: col-resize;
                user-select: none;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 1em;
            }

            .table-resizable th:last-of-type:before {
                display: none;
            }


        .table-resizable td {
            max-width: 0;
            /*overflow: hidden;*/
            text-overflow: ellipsis;
            white-space: nowrap;
        }
</style>

<div class=Section1 style="width:800px; height:auto; margin:0 auto; background-color:white; padding:0px 50px 20px">
    <p class=MsoNormal>
        <a name="_GoBack"></a><b>
            <span><o:p>&nbsp;</o:p></span>
        </b>
    </p>
    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
           style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:none;mso-border-insidev:none'>
        <tr>
            <td valign=top style='width:280px;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align="center" style='text-align:left'>

                    @if (DonViCha != null && DonVi != null)
                    {
                        <span>
                            <b>
                                <textarea style="font-size: 11px; width: 280px; resize: none; font-weight: bold !important; text-align: center;" maxlength="250" name="txtTenDonViCha" id="txtTenDonViCha" class="DieuKienAnToan_SelectEmp1 input-style noResz" rows="4" placeholder="TÊN ĐƠN VỊ CHA" searchbox="1">@(DonViCha.TenDonVi)</textarea>

                            </b>
                            <br />
                            <b>
                                <textarea style="font-size: 11px; width: 280px; resize: none; font-weight: bold !important; text-align: center;" maxlength="250" name="txtTenDonVi" id="txtTenDonVi" class="DieuKienAnToan_SelectEmp1 input-style noResz" rows="4" placeholder="TÊN ĐƠN VỊ" searchbox="1">@(DonVi.TenDonVi)</textarea>

                            </b>
                        </span>
                    }
                    else if (DonVi != null)
                    {
                        <b>
                            <textarea style="font-size: 11px; width: 280px; resize: none; font-weight: bold !important; text-align: center;" maxlength="250" name="txtTenDonVi" id="txtTenDonVi" class="DieuKienAnToan_SelectEmp1 input-style noResz" rows="4" placeholder="TÊN ĐƠN VỊ" searchbox="1">@(DonVi.TenDonVi)</textarea>

                        </b>
                    }
                </p>

            </td>
            <td valign="top" style='width:400px;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>
                    <b style="text-align: center; display: flex; flex-direction: column;">
                        <span style='font-size:16px;color:black'>
                            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                        </span>
                    </b>

                    <span style='font-size: 11px; color: black; text-align: center; display: flex; flex-direction: column;'>
                        Độc lập - Tự do - Hạnh phúc
                    </span>

                </p>

            </td>

        </tr>
        <tr>
            <td valign=top style='width:280px;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align="center" style='text-align:left'>
                    <span style='font-size:11px;'>
                        Số: /BB...-KHKT-...
                    </span>
                </p>

            </td>
            <td valign="top" style='width:400px;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal style=" text-align: right;">
                    <i style="text-align:center">
                        <span class="selectboxv1 radio-style" onlyone="1">
                            <input maxlength="2" value="" name="txtS62_tinh" id="txtS62_tinh" placeholder="……" searchbox="0" class="S62_phut_SelectEmp1 input-style input-style2 text-right selectbox-control" type="text" autocomplete="off" />
                            <span class="multiselect-wap"></span>
                        </span>, ngày<span class="selectboxv1 radio-style" onlyone="1">
                            <input maxlength="2" onchange="EditLengthTime(this, 1, 31)" value="@DateTime.Now.ToString("dd")" name="txtS62_ngay" id="txtS62_ngay" placeholder="……" searchbox="0" datasourceidname="listngay" class="S62_ngay_SelectEmp1 input-style input-style2 text-right selectbox-control" type="number" max="31" min="1" autocomplete="off" />
                            <span class="multiselect-wap"></span>
                        </span>tháng <span class="selectboxv1 radio-style" onlyone="1">
                            <input maxlength="2" onchange="EditLengthTime(this, 1, 12)" value="@DateTime.Now.ToString("MM")" name="txtS62_thang" id="txtS62_thang" placeholder="……" searchbox="0" datasourceidname="listthang" class="S62_thang_SelectEmp1 input-style input-style2 text-right selectbox-control" type="number" max="12" min="1" autocomplete="off" />
                            <span class="multiselect-wap"></span>
                        </span>năm<span class="selectboxv1 radio-style" onlyone="1">
                            <input maxlength="4" value="@DateTime.Now.ToString("yyyy")" name="txtS62_nam" maxlength="4" id="txtS62_nam" placeholder="………" searchbox="0" datasourceidname="listnam" class="S62_nam_SelectEmp1 input-style input-style4 text-right selectbox-control" type="text" autocomplete="off" />
                            <span class="multiselect-wap"></span>
                        </span>
                    </i>
                </p>

            </td>

        </tr>


    </table>

    <div style="width:100%">
        <p class=MsoNormal id="divKLGBAT">
            <b>
                <span style='mso-bidi-font-size:12.0pt;color:black'>
                    <span  class="selectboxv1 radio-style" onlyone="1">
                        <input  value="BIÊN BẢN" data-id="1" name="txtS11" searchbox="BIÊN BẢN" datasourceidname="listloaiBienBan" class="loaiBienBan_SelectEmp input-style input-style1 selectbox-control" id="txtLoaiBC" type="text" placeholder="………" autocomplete="off" />
                        <span class="multiselect-wap"></span>
                    </span>KẾT LUẬN GIAO BAN AN TOÀN<span  class="selectboxv1 radio-style text-right" onlyone="1" >
                        <input  value="TUẦN" data-id="1" name="txtS11" searchbox="TUẦN" datasourceidname="listloaithoigianbc" class="loaithoigianbc_SelectEmp input-style input-style1 selectbox-control" id="txtThoiGianBC" type="text" placeholder="………" autocomplete="off" />
                        <span class="multiselect-wap"></span>
                    </span>:
                </span>

            </b>
        </p>
    </div>



</div>

<div style="display:none" class="mytemp">
    <div class="empdataparent">
        <div class="empdata">
            <select class="multiselect-add form-control" multiple="multiple" data-plugin-multiselect data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'>
                <optgroup label="Nhân viên">
                    <option value="0">Tên Nhân Viên</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div id="listnguoiduyet">
        <optgroup label="Người duyệt">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiDuyetChucNang" });}
        </optgroup>
    </div>
    <div id="listphutrachduyet">
        <optgroup label="Người phụ trách duyệt">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiKiemTra" });}
        </optgroup>
    </div>
    <div id="listchihuytructiep">
        <optgroup label="Người chỉ huy trực tiếp">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "ChiHuyTrucTiep" });}
        </optgroup>
    </div>
    <div id="listgiamsatantoan">
        <optgroup label="Người giám sát">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiGiamSat" });}
        </optgroup>
    </div>
    <div id="listkiemsoat">
        <optgroup label="Người cho phép">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiKiemSoatDonViCongTac" });}
        </optgroup>
    </div>
    <div id="listkiemtraphieu">
        <optgroup label="Người kiểm tra phiếu">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiKiemTra" });}
        </optgroup>
    </div>
    <div id="listlanhdaotrucban">
        <optgroup label="Lãnh đạo trực ban">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "LanhDaoDonViTrucBanKiemSoat" });}
        </optgroup>
    </div>
    <div id="listnhanviendonvicongtac">
        <optgroup label="Nhân viên đơn vị công tác">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "ChiHuyTrucTiep" });}
        </optgroup>
    </div>

    <div id="listlanhdaocongviec">
        <optgroup label="Lãnh đạo công việc">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "LanhDaoCongViec" });}

        </optgroup>
    </div>
    <div id="listnguoicapphieu">
        <optgroup label="Người cấp phiếu">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "NguoiCapPhieu" });}

        </optgroup>
    </div>

    <div id="listphieulenh">
        <optgroup label="Phiếu/Lệnh công tác">
            <option value="1">Phiếu công tác</option>
            <option value="2">Lệnh công tác</option>
        </optgroup>
    </div>

    <div id="listloaiBienBan">
        <optgroup label="Loại Báo Cáo">
            <option value="1">"BIÊN BẢN"</option>
            <option value="2">"THÔNG BÁO"</option>
        </optgroup>
    </div>
    <div id="listloaithoigianbc">
        <optgroup label="Loại thời gian">
            <option value="1">"TUẦN"</option>
            <option value="2">"THÁNG"</option>
        </optgroup>
    </div>

    <div id="listnhanviendonvicongtac">
        <optgroup label="Nhân viên đơn vị công tác">
            @{Html.RenderAction("DanhSachNhanVien", "PhienLV", new { roles = "" });}
        </optgroup>
    </div>


    <div id="listbacantoan">
        <optgroup label="Bậc An Toàn">
            @for (int i = 1; i < 6; i++)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>
    <div id="listgio">
        <optgroup label="Giờ">
            @for (int i = 0; i < 23; i++)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>
    <div id="listphut">
        <optgroup label="Phút">
            @for (int i = 0; i < 59; i = i + 5)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>
    <div id="listngay">
        <optgroup label="Ngày">
            @for (int i = 1; i < 32; i++)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>
    <div id="listthang">
        <optgroup label="Tháng">
            @for (int i = 1; i < 13; i++)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>
    <div id="listnam">
        <optgroup label="Năm">
            <option value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)</option>
            <option value="@(DateTime.Now.Year)">@(DateTime.Now.Year)</option>
            <option value="@(DateTime.Now.Year + 1)">@(DateTime.Now.Year + 1)</option>
        </optgroup>
    </div>
    <div id="listnam2">
        <optgroup label="Năm">
            <option value="@((DateTime.Now.Year - 1).ToString().Substring(2))">@((DateTime.Now.Year - 1).ToString().Substring(2))</option>
            <option value="@(DateTime.Now.Year.ToString().Substring(2))">@(DateTime.Now.Year.ToString().Substring(2))</option>
            <option value="@((DateTime.Now.Year + 1).ToString().Substring(2))">@((DateTime.Now.Year + 1).ToString().Substring(2))</option>
        </optgroup>
    </div>
    <div id="listsoluongnguoi">
        <optgroup label="Số lượng người">
            @for (int i = 1; i < 31; i++)
            {
                <option value="@(i)">@(i)</option>
            }
        </optgroup>
    </div>

</div>
<footer class="panel-footer" style="position:fixed; bottom:0;z-index:99999999; width:100%">
    <div class="row">
        <div class="col-md-12 text-right">

            <a href="/Admin/PhienLV/PhieuCongTac?phieucongtacid=@(ViewBag.phieucongtacid)&phienlvid=@(ViewBag.phienlvid)&showprint=1#print" target="_blank">
                <button class="btn btn-default modal-confirm">
                    IN PHIẾU
                </button>
            </a>


            <button class="btn btn-default modal-dismiss" onclick="parent.ClosePhieuCongTac()" id="modal-dismiss">Hủy</button>
        </div>
    </div>
</footer>
<table class="trtemp1" style="display:none">
    <tr style='height:32px'>
        <td>
            <p class=MsoNormal align=center>
                <span>1<o:p></o:p></span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=center>
                <span><o:p>&nbsp;</o:p></span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=right>
                <span>/5</span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=right>
                <span></span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=right>
                <span></span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=right>
                <span></span>
            </p>
        </td>
        <td>
            <p class=MsoNormal align=right>
                <span></span>
            </p>
        </td>
    </tr>
</table>

<table class="trtemp4" style="display:none">
    <tbody>
        <tr class="rtb trnhanvien4" style="height:50px">
            <td>
                <p class="rstt MsoNormal" align=center>

                </p>
            </td>
            <td>
                <p class=MsoNormal align=center>
                    <span class="selectboxv1 radio-style" onlyone="1">
                        <input style="width:100%;" value="" data-id="" searchbox="1" datasourceidname="listnhanviendonvicongtac" class="NhanVienDonViCongTac_SelectEmp input-style input-style1 selectbox-control" type="text" placeholder="………………………………………………………………………………………………………………………………………………" autocomplete="off" />
                        <span class="multiselect-wap"></span>
                    </span>
                </p>
            </td>
            <td>
                <p class=MsoNormal align=right>
                    <span>/5</span>
                </p>
            </td>
            <td>
                <p class=MsoNormal align=right>
                    <span></span>
                </p>
            </td>
            <td>
                <p class=MsoNormal align=right>
                    <span></span>
                </p>
            </td>
            <td>
                <p class=MsoNormal align=right>
                    <span></span>
                </p>
            </td>
            <td>
                <p class=MsoNormal align=right>
                    <span></span>
                </p>
            </td>
        </tr>

    </tbody>
</table>

<table class="trtemp5" style="display:none">
    <tbody>
        <tr class="rtb" style="height:70px">
            <td width=74 valign="middle" style='width:27.8pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;text-align: center;'>
                <p class="rstt MsoNormal">
                    1
                </p>
            </td>
            <td width=308 valign=top style='width:115.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>

                </p>
            </td>
            <td width=221 valign=top style='width:1.15in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>

                </p>
            </td>
            <td width=208 valign=top style='width:78.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>

                </p>
            </td>
            <td width=208 valign=top style='width:77.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>

                </p>
            </td>
            <td width=208 valign=top style='width:77.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal>

                </p>
            </td>
        </tr>
    </tbody>
</table>

<script>
    setTimeout(function () {
        if (document.location.href.indexOf("#print") > -1) {
            $(".panel-footer").hide();
            //$("#tb4 .selectboxv1").hide();
            $("#txtTop_LoaiCviec").hide();
            $("#txtTop_Tram").hide();

            $("#btnSaveTable").show();
            //$("#divMaYCKH").hide();
        }
    }, 1000);

    function RunPrint() {
        console.log("");
        $("#btnPrint").hide();
        $("#btnSaveTable").hide();
        window.print();
        $("#btnPrint").show();
        $("#btnSaveTable").show();
    }

    $(function () {
        var startX,
            startWidth,
            $handle,
            $table,
            pressed = false;

        $(document).on({
            mousemove: function (event) {
                if (pressed) {
                    $handle.width(startWidth + (event.pageX - startX));
                }
            },
            mouseup: function () {
                if (pressed) {
                    $table.removeClass('resizing');
                    pressed = false;
                }
            }
        }).on('mousedown', '.table-resizable th', function (event) {
            $handle = $(this);
            pressed = true;
            startX = event.pageX;
            startWidth = $handle.width();

            $table = $handle.closest('.table-resizable').addClass('resizing');
        }).on('dblclick', '.table-resizable thead', function () {
            // Reset column sizes on double click
            $(this).find('th[style]').css('width', '');
        });

        LoadSizeTable();


    });

    function SaveTable() {
        var from = document.referrer;
        alert(from);
        let xxx = httpGet(from);
        alert(xxx);
        //table 4
        var w = $("#divtb4").width();
        var h = $("#divtb4").height();


        var i = 1;
        $("#tb4 thead tr th").each(function () {
            var wth = $(this).width();
            var hth = $(this).height();

            i = i + 1;
        });

        //table 5
        var w2 = $("#divtb5").width();
        var h2 = $("#divtb5").height();


        var i2 = 1;
        $("#tb5 thead tr th").each(function () {
            var wth2 = $(this).width();
            var hth2 = $(this).height();

            i2 = i2 + 1;
        });

        alert("Lưu thành công");
    }

    function httpGet(theUrl) {
        let xmlhttp;

        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                return xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", theUrl, false);
        xmlhttp.send();

        return xmlhttp.response;
    }

    function LoadSizeTable() {

        //table 4
        var w = 0;
        var h = 0;

        if (w > 0)
            $("#divtb4").css("width", w);
        if (h > 0)
            $("#divtb4").css("height", h);

        var i = 1;
        $("#tb4 thead tr th").each(function () {
            var wth = 0;
            var hth = 0;

            if (wth > 0)
                $(this).css("width", wth);
            if (hth > 0)
                $(this).css("height", hth);
            i = i + 1;
        });

        //table 5
        var w2 = 0;
        var h2 = 0;

        if (w2 > 0)
            $("#divtb5").css("width", w2);
        if (h2 > 0)
            $("#divtb5").css("height", h2);

        var i2 = 1;
        $("#tb5 thead tr th").each(function () {
            var wth2 = 0;
            var hth2 = 0;

            if (wth2 > 0)
                $(this).css("width", wth2);
            if (hth2 > 0)
                $(this).css("height", hth2);
            i2 = i2 + 1;
        });

    }

</script>

<button id="btnSaveTable" onclick="javascript:SaveTable()" type="button" style="display: none;
        background-color: #1c6dff;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
        height: 65px;
        width: 150px;
        position: fixed;
        top: 0;
        right: 160px">
    LƯU BẢNG
</button>
<button id="btnPrint" onclick="javascript:RunPrint()" type="button" style="display:none; background-color:#1c6dff; color:#fff; font-size:18px; line-height:50px; height:65px; width:150px; position:fixed; top:0; right:0">
    IN MẪU NÀY
</button>

<script src="/Scripts/ViewBienBanQDKTKS.js?v=@(DateTime.Now.ToString("yyyyMMddHHmmssfff"))"></script>
