
@model ECP_V2.WebApplication.Models.BaoCaoCuoiNgayModel
@{
    ViewBag.Title = "Chi tiết báo cáo đầu giờ";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var lstDoc = (List<ECP_V2.DataAccess.tblChiTietBaoCaoCuoiNgay>)ViewBag.lstChiTietBC;
}
<script src="~/Scripts/validation/jquery.form.min.js"></script>
<script src="~/Scripts/validation/jquery.validate.min.js"></script>
<script src="~/Scripts/validation/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Menu Collapsed Layout
        $('html').addClass('sidebar-left-collapsed');
    });
</script>
<h1>
    Chi tiết thông tin báo cáo
</h1>
<h2>
    <a class="btn btn-primary" href="@Url.Action("Index","BaoCaoCuoiNgayCongTy")">
        <span>Danh sách báo cáo</span>
    </a>
</h2>

<form class="form-horizontal form-bordered">
    <section class="panel">
        <header class="panel-heading">
            <div class="warning-area">
                @Html.ValidationSummary(true)
            </div>
        </header>
        <div class="panel-body" style="font-family:'Times New Roman';background-color:#FFF;font-size:15px;">
            <div class="row">
                <div class="pull-left text-center" style="margin-left:5px;">
                    <p>CÔNG TY TNHH MTV</p>
                    <p>ĐIỆN LỰC HẢI PHÒNG</p>
                    <b style="text-decoration: underline">PHÒNG AN TOÀN</b>
                </div>
                <div class="pull-right text-center" style="margin-right:5px;">
                    <b>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</b>
                    <br />
                    <b style="text-decoration:solid;text-decoration: underline">Độc lập – Tự do – Hạnh phúc</b>
                    <br />
                    <p>.............., ngày @(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("dd") : "") tháng @(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("MM") : "") năm @(Model.NgayTao.HasValue ? Model.NgayTao.Value.ToString("yyyy") : "")</p>
                </div>
            </div>
            <div class="row">
                <h3 class="text-center">
                    <b>BÁO CÁO</b>
                    <br />
                    <b style="line-height:2">Kiểm tra, kiểm soát công việc ngày</b>
                    <br />
                    <b style="line-height:2;font-weight:normal">Kính gửi: Trưởng ban An toàn Tổng công  ty Điện lực miền Bắc</b>
                    <br />
                    <b style="line-height:2;font-weight:normal">Thực hiện công điện số 110/CĐ-EVN NPC ngày 05/12/2016 của Tổng công ty Điện lực miền Bắc, phòng An toàn Công ty Điện lực Hải Phòng báo cáo Trưởng ban như sau::</b>
                </h3>
            </div>
            <div class="row" style="padding:0px 30px;">
                <div class="row">
                    <b>I/. Kết quả kiểm tra, kiểm soát của đơn vị:</b>
                </div>
                <div class="row">
                    @{ ViewBag.TongSoSviec = Model.So_CV_KH + Model.So_CV_BS + Model.So_CV_Ko_KH; }
                    - Tổng số công việc thực hiện tại đơn vị là: <label id="lbTongSoCviec" style="color:green;font-size:18px;font-weight:bold;"> @ViewBag.TongSoSviec</label>
                    công việc, trong đó:
                </div>
                <div class="row">
                    + Số công việc thực hiện theo kế hoạch tuần đã đăng ký:
                    @Html.DisplayFor(p => p.So_CV_KH, new { @class = "numeric-only classSum", id = "So_CV_KH", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    + Số công việc bổ sung ngày:
                    @Html.DisplayFor(p => p.So_CV_BS, new { @class = "numeric-only classSum", id = "So_CV_BS", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    + Số công việc đột xuất ngày:
                    @Html.DisplayFor(p => p.So_CV_DX, new { @class = "numeric-only classSum", id = "So_CV_DX", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    + Số công việc không thực hiện theo kế hoạch đã đăng ký: @Html.DisplayFor(p => p.So_CV_Ko_KH, new { @class = "numeric-only classSum", id = "txtLenh_CT", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    - Tổng số PTT phát ra: @Html.DisplayFor(p => p.Tong_PTT, new { @class = "numeric-only", id = "Tong_PTT", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    - Tổng số PCT phát ra:
                    @Html.DisplayFor(p => p.Tong_PCT, new { @class = "numeric-only", id = "Tong_PCT", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    Số PCT được kiểm tra, kiểm soát:
                    <label id="lbSoTong_PCT">@Model.Tong_PCT</label>
                </div>
                <div class="row">
                    - Tổng số LCT phát ra:
                    @Html.DisplayFor(p => p.Tong_LCT, new { @class = "numeric-only", id = "Tong_LCT", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    Số LCT được kiểm tra, kiểm soát:
                    <label id="lbSoTong_LCT">@Model.Tong_LCT</label>
                </div>
                <div class="row">
                    - Số công việc đã gửi ảnh kiểm soát: @Html.DisplayFor(p => p.So_Dvi_GuiAnh, new { @class = "numeric-only", id = "So_Dvi_GuiAnh", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                </div>
                <div class="row">
                    - Đơn vị kiểm tra trực tiếp tại: @Html.DisplayFor(p => p.So_Dvi_Ktra, new { @class = "numeric-only", id = "So_Dvi_Ktra", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    bộ phận, gồm:
                </div>
                <div class="row">
                    @Html.TextAreaFor(p => p.ChiTietDviKtra, new { @rows = 5, id = "ChiTietDviKtra", @placeholder = ".........", @style = "border:none;width:30%;" })
                </div>
                <div class="row">
                    Kết quả:
                </div>
                <div class="row">
                    + Lập  @Html.DisplayFor(p => p.Kq_SoBB, new { @class = "numeric-only", id = "Kq_SoBB", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    biên bản
                </div>
                <div class="row">
                    + Kiểm tra @Html.DisplayFor(p => p.Kq_KiemTra, new { @class = "numeric-only", id = "Kq_KiemTra", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    PATCTC và BPAT, có @Html.DisplayFor(p => p.Kq_Cv_KoDat, new { @class = "numeric-only", id = "Kq_Cv_KoDat", @placeholder = ".........", @style = "border:none;width:5%;height: 25px;" })
                    PATCTC và BPAT không đạt yêu cầu, phương án xử lý.
                </div>
                <div class="row">
                    - Công tác kiểm tra, kiểm soát của lãnh đạo đơn vị và KTVATCT được thực hiện tốt/không tốt
                </div>
                <div class="row">
                    , có &nbsp;&nbsp;&nbsp;
                    @Html.DisplayFor(p => p.Kq_Cv_KetThuc, new { @class = "numeric-only", id = "Kq_Cv_KetThuc", @placeholder = "..............", @style = "border:none;width:5%;height: 25px;" })
                    / <label id="lbSoCviecKT">@Model.Kq_Cv_KetThuc</label>
                    công việc đã kết thúc.
                </div>
                <div class="row">
                    II/. Những vi phạm, tồn tại qua một ngày làm việc:
                </div>
                <div class="row">
                    - @Html.TextAreaFor(p => p.ViPham, new { @rows = 5, id = "ViPham", @placeholder = ".........", @style = "border:none;width:30%;" })
                </div>
                <div class="row">
                    III/. Những đề nghị, tồn tại qua một ngày làm việc:
                </div>
                <div class="row">
                    - @Html.TextAreaFor(p => p.DeNghi, new { @rows = 5, id = "DeNghi", @placeholder = ".........", @style = "border:none;width:30%;" })
                </div>

                <div class="row" style="padding:0px 30px;margin-bottom:30px;">
                    <p class="pull-left">
                        <b>Nơi nhận:</b>
                        <br />
                        <b style="font-weight:normal">- Như trên (báo cáo);</b>
                        <br />
                        <b style="font-weight:normal">- Giám đốc, các PGĐ;</b>
                        <br />
                        <b style="font-weight:normal">- Lưu KH-KT-AT.</b>
                    </p>
                    <p class="pull-right text-center">
                        <b>TRƯỞNG ĐƠN VỊ</b>
                        <br />
                        <br />
                        @Html.DisplayFor(p => p.TruongDonVi, new { @class = "numeric-only", id = "txtTruongDonVi", @placeholder = "..............", @style = "border:none;width:5%;height: 25px;" })
                        <br />
                        <br />
                        <i>(Đã ký)</i>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <div class="panel-body" style="font-family:'Times New Roman';background-color:#FFF;font-size:15px;">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-1 control-label">File đính kèm: </label>
                    <div class="col-md-11">
                        @if (lstDoc.Count > 0)
                        {
                            <div class="fileupload fileupload-exists" data-provides="fileupload">
                                <input type="hidden" value="" name="">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview" style="line-height: 22px;">@lstDoc.FirstOrDefault().FileName@lstDoc.FirstOrDefault().FileExt</span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <a target="_blank" download href="@lstDoc.FirstOrDefault().UrlFile"> <span class="fileupload-exists">Tải file</span></a>
                                    </span>

                                </div>
                            </div>
                        }
                        else
                        {
                            <label class="control-label">Không có File đính kèm</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="panel-footer">
        <a class="btn btn-primary" href="@Url.Action("Index","BaoCaoCuoiNgayCongTy")">
            <span>Danh sách báo cáo</span>
        </a>
    </footer>
</form>



