@model ECP_V2.WebApplication.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="panel-body">
    <div class="row col-md-6 col-md-offset-3">
        @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "frmChangePass", @class = "form-horizontal form-bordered", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-3 control-label">
                    Mật khẩu cũ
                </label>
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-3 control-label">
                    Mật khẩu mới
                </label>
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-3 control-label">
                    Nhập lại mật khẩu
                </label>
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="button" value="Cập nhật" onclick="btnSubmitChange_OnClick()" class="btn btn-primary" />
                    @*@Html.ActionLink("Hủy bỏ", "Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, new {@class= "btn btn-default" })*@

                    @*<a href="@Html.Action("Index","Home",new { ReturnUrl = ViewBag.ReturnUrl })">
                            Hủy bỏ
                        </a>*@
                </div>
            </div>
        }
        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
    </div>
</div>

<script type="text/javascript">
    function btnSubmitChange_OnClick() {

        if ($("#OldPassword").val() == '') {
            new PNotify({
                title: 'Thông báo!',
                text: '[Mật khẩu cũ] không được để trống !',
                type: 'error'
            });
            return;
        }

        if ($("#NewPassword").val() == '') {
            new PNotify({
                title: 'Thông báo!',
                text: '[Mật khẩu mới] không được để trống !',
                type: 'error'
            });
            return;
        }

        if ($("#ConfirmPassword").val() == '') {
            new PNotify({
                title: 'Thông báo!',
                text: '[Nhập lại mật khẩu] không được để trống !',
                type: 'error'
            });
            return;
        }

        if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
            new PNotify({
                title: 'Thông báo!',
                text: '[Mật khẩu mới] và [Nhập lại mật khẩu] không giống nhau !',
                type: 'error'
            });
            return;
        }

        var pwd = String($("#NewPassword").val());

        //Ít nhất một chữ cái viết hoa tiếng Anh
        var regex1 = /[A-Z]/
        //Ít nhất một chữ cái tiếng Anh viết thường
        var regex2 = /[a-z]/
        //Ít nhất một chữ số
        var regex3 = /[0-9]/
        //Chiều dài tối thiểu tám
        var regex4 = /^.{8,}$/
        //Ít nhất một nhân vật đặc biệt
        var regex5 = /[\@@\#\$\%\^\&\*\(\)\_\+\!]/

        if (regex4.test(pwd)) {
            if (regex1.test(pwd)) {
                if (regex2.test(pwd)) {
                    if (regex5.test(pwd)) {
                        $("#frmChangePass").submit();
                    }
                    else {
                        new PNotify({
                            title: 'Thông báo!',
                            text: 'Mật khẩu phải có chứa ký tự đặc biệt!',
                            type: 'error'
                        });
                    }
                }
                else {
                    new PNotify({
                        title: 'Thông báo!',
                        text: 'Mật khẩu phải có chứa ký tự viết thường!',
                        type: 'error'
                    });
                }
            }
            else {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Mật khẩu phải có chứa ký tự viết hoa!',
                    type: 'error'
                });
            }
        }
        else {
            new PNotify({
                title: 'Thông báo!',
                text: 'Mật khẩu ít nhất phải có 8 ký tự!',
                type: 'error'
            });
        }

    }
</script>