@using ECP_V2.Common.Helpers

@model ECP_V2.WebApplication.Models.PhongBanModel
@{
    ViewBag.Title = "Thêm phòng ban";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        HttpMethod = "post",
        OnComplete = "CompleteAjaxRequest"
    };    
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script type="text/javascript">

    function CompleteAjaxRequest(obj) {
        
        var returnObj = eval('(' + obj.responseText + ')');

        if (returnObj.Status == "success") {            
            if (returnObj.Message != null) {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Thêm thành công phòng ban',
                    type: 'success'
                });           
                window.location.href = returnObj.RedirectUrl;
            }
            else if (returnObj.RedirectUrl != null) {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Thêm thành công phòng ban',
                    type: 'success'
                });
                window.location.href = returnObj.RedirectUrl;
            }
        } else {
            new PNotify({
                title: 'Thông báo lỗi!',
                text: 'Không thêm được phòng ban: ' + returnObj.Message,
                type: 'error'
            });
        }

        return false;
    };

</script>
<h1>
    <a class="mb-xs mt-xs mr-xs btn btn-primary" href="@Url.Action("Index", "PhongBan")">
        <i class="fa fa-list"></i> &nbsp; Danh sách phòng ban
    </a>
</h1>
<div class="row-fluid">
    <div class="span12">      
        <div class="row">
            @using (Ajax.BeginForm("Add", "PhongBan", null, ajaxOpts, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="warning-area">
                            @Html.ValidationSummary(true)
                            @*@Html.Hidden(Model.Id)*@
                        </div>                        
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Chọn đơn vị:</label>
                            <div class="col-sm-4">
                                @if (User.IsInRole("Admin"))
                                {
                    @Html.DropDownList("MaDVi", (IEnumerable<SelectListItem>)ViewBag.ListDvi, "Chọn đơn vị ...", new { @class = "form-control" }) }
                                    else
                                    {
                    @Html.DropDownList("MaDVi", (IEnumerable<SelectListItem>)ViewBag.ListDvi, null, new { @class = "form-control" })}
                                @Html.ValidationMessageFor(m => m.MaDVi)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tên phòng ban:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.TenPhongBan, new { @class = "form-control", id = "txtTenPhongBan" })
                                @Html.ValidationMessageFor(m => m.TenPhongBan)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Điện thoại:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.SDT, new { @class = "form-control", id = "txtSDT" })
                                @Html.ValidationMessageFor(m => m.SDT)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Loại phòng ban:</label>
                            <div class="col-sm-8">
                                <select id="txtLoaiPB" name="LoaiPB" class="form-control">
                                    <option value="0">Chọn loại phòng ban</option>
                                    <option value="1">Trong đơn vị</option>
                                    <option value="2">Ngoài đơn vị</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mô tả:</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.MoTa, new { @class = "form-control", id = "txtMoTa" })
                                @Html.ValidationMessageFor(m => m.MoTa)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tên viết tắt:</label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(x => x.TenVietTat, new { @class = "form-control", id = "txtTenVietTat" })
                                @Html.ValidationMessageFor(m => m.TenVietTat)
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <button class="btn btn-primary" type="submit">Đồng ý</button>
                        <a class="btn btn-default" href="@Url.Action("Index","PhongBan")">
                            <span>Hủy bỏ</span>
                        </a>                    
                    </footer>
                </section>
            }
        </div>
    </div>
</div>
