@model ECP_V2.WebApplication.Areas.Admin.Models.SuCoViewModel
@{
    Layout = null;
    var lstTaiLieu = (List<ECP_V2.DataAccess.sc_TaiLieu>)ViewBag.lstTaiLieu;
    var lstHinhAnh = (List<ECP_V2.DataAccess.sc_TaiLieu>)ViewBag.lstHinhAnh;
    ViewBag.Title = "Chi tiết sự cố";
}

<link href="/Content/AdminPanel/assets/vendor/jquery-ui/css/jquery-ui-default.css" rel="stylesheet" />
<style>
    select {
        height: 40px;
        padding: 0;
    }

    #divUpLoad .fileUpload {
        position: relative;
        overflow: hidden;
    }

        #divUpLoad .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            background-color: #fff;
            filter: alpha(opacity=0);
        }

    #divUpLoad .filenameupload {
        width: 98%;
    }

    #divUpLoad #upload_prev {
        padding: 5px;
    }

        #divUpLoad #upload_prev span {
            display: flex;
            padding: 0 5px;
            font-size: 13px;
            margin: 5px;
        }

            #divUpLoad #upload_prev span:hover {
                background-color: #e6f7ff;
            }

    #divUpLoad p.close {
        cursor: pointer;
        font-size: 15px;
    }

    .label {
        font-size:12px !important;
    }
</style>
<div style="padding:10px">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DonViId)
    @Html.HiddenFor(model => model.NgayTao)
    @Html.HiddenFor(model => model.NguoiTao)

    @*@Html.HiddenFor(model => model.IsGianDoan)*@
    <div class="row">
        <div class="col-md-4">
            <label class="label label-default" for="CapDienAp">Cấp điện áp (kV)</label>
            <div class="clearfix"></div>
            @if (ViewBag.LstDienAp != null)
            {
@Html.DropDownListFor(model => model.CapDienAp, (SelectList)ViewBag.LstDienAp, "Chọn cấp điện áp", new { @class = "selectoption", @disabled = "disabled" }) }
else
{
<select id="CapDienAp" name="CapDienAp" class="selectoption">
    <option value="">Chọn cấp điện áp</option>
</select>   }
        </div>

        <div class="col-md-4">
            <label class="label label-default" for="CapDienAp">Tài sản</label>
            <div class="clearfix"></div>
            @if (ViewBag.LstDienAp != null)
            {
@Html.DropDownListFor(model => model.IsTaiSan, (SelectList)ViewBag.LstTaiSan, "Chọn loại tài sản", new { @class = "selectoption", @disabled = "disabled" }) }
else
{
<select id="TaiSan" name="TaiSan" class="selectoption">
    <option value="">Chọn tài sản thuộc</option>
</select>   }

        </div>

        <div class="col-md-4">
            <label class="label label-default" for="CapDienAp">Điện lực bị sự cố</label>
            <div class="clearfix"></div>
            <select disabled class="form-control" id="lstDonViSuCoId" name="lstDonViSuCoId"
                    multiple="multiple" data-plugin-multiselect data-plugin-options='{ "includeSelectAllOption": true }'>
                @try
                {
    @Html.Raw(ECP_V2.Business.Repository.DonViRepository.GetAllDonViHtml2(Session["DonViID"].ToString()))}
catch { }
            </select>
            @Html.ValidationMessageFor(model => model.lstDonViSuCoId, null, new { @class = "text-danger" })
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="label label-default" for="MaHSX">Dạng sự cố</label>
            <div class="clearfix"></div>
            @if (ViewBag.LoaiSuCo != null)
            {
@Html.DropDownListFor(model => model.LoaiSuCoId, (SelectList)ViewBag.LoaiSuCo, "Chọn loại sự cố", new { @class = "selectoption", @disabled = "disabled" }) }
else
{
<select id="MaHSX" name="MaHSX" class="selectoption">
    <option value="">Chọn loại sự cố</option>
</select>}
            @Html.ValidationMessageFor(model => model.LoaiSuCoId, null, new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            <label class="label label-default" for="MaHSX">Phân loại sự cố</label>
            <div class="clearfix"></div>
            @if (ViewBag.NguyenNhan != null)
            {
            @Html.DropDownListFor(model => model.NguyenNhanId, (SelectList)ViewBag.NguyenNhan, "Chọn nguyên nhân", new { @class = "selectoption", @disabled = "disabled" }) }
            else
            {
                <select id="NguyenNhan" name="NguyenNhan" class="selectoption">
                    <option value="">Chọn nguyên nhân</option>
                </select>
            }

        </div>

        @*<div class="col-md-4">
                    <label class="control-label" for="MaHSX">Tính chất</label>
                    <div class="clearfix"></div>
                    @if (ViewBag.TinhChat != null)
                    {
            @Html.DropDownListFor(model => model.TinhChatId, (SelectList)ViewBag.TinhChat, "Chọn tính chất", new { @class = "selectoption", @onchange = "TinhChat_OnChange(this)", @disabled = "disabled" }) }
                        else
                        {
            <select id="TinhChat" name="TinhChat" class="selectoption">
                <option value="">Chọn tính chất</option>
            </select>            }

                </div>*@



        @*<div class="col-md-4">
                    <label class="control-label" for="MaHSX">Lý do</label>
                    <div class="clearfix"></div>
                    @if (ViewBag.LyDo != null)
                    {
            @Html.DropDownListFor(model => model.LyDoId, (SelectList)ViewBag.LyDo, "Chọn lý do", new { @class = "selectoption", @disabled = "disabled", @style = "width:270px; height: content" }) }
                        else
                        {
            <select id="NguyenNhan" name="NguyenNhan" class="selectoption">
                <option value="">Chọn lý do</option>
            </select>            }

                </div>*@
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="label label-default" for="MaHSX">Thiết bị sự cố thuộc</label>
            <div class="clearfix"></div>
            @if (ViewBag.LoaiTBSCO != null)
            {
                @Html.DropDownListFor(model => model.LoaiTB, (SelectList)ViewBag.LoaiTBSCO, "Chọn thiết bị", new { @class = "selectoption", @style = "width:270px", @disabled = "disabled" }) }
            else
            {
                <select id="LoaiTB" name="LoaiTB" class="selectoption">
                    <option value="">Chọn loại</option>
                </select>
            }
        </div>
        <div class="col-md-8">
            <label class="label label-default" for="MaHSX">Loại thiết bị bị sự cố</label>
            <div class="clearfix"></div>
            @if (ViewBag.LyDo != null)
            {
                @Html.DropDownListFor(model => model.TinhChatId, (SelectList)ViewBag.LyDo, "Chọn loại thiết bị", new { @class = "selectoption", @style = "width:100%", @disabled = "disabled" }) }
            else
            {
                <select id="TinhChatId" name="TinhChatId" class="selectoption" style="width:270px;">
                    <option value="">Chọn lý do</option>
                </select>
            }                         
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label class="label label-default" for="HanhLangId">Yếu tố hành lang</label>
            <div class="clearfix"></div>
            @if (ViewBag.HanhLang != null)
            {
                @Html.DropDownListFor(model => model.HanhLangId, (SelectList)ViewBag.HanhLang, "Chọn lý do", new { @class = "selectoption", @style = "width:100%", @disabled = "disabled" }) }
            else
            {
                <select id="HanhLangId" name="HanhLangId" class="selectoption">
                    <option value="">Chọn lý do</option>
                </select>
            }            
        </div>
        <div class="col-md-4">
            <label class="label label-default" for="ThienTaiId">Tình hình thời tiết khi sự cố</label>
            <div class="clearfix"></div>
            @if (ViewBag.ThienTai != null)
            {
                @Html.DropDownListFor(model => model.ThienTaiId, (SelectList)ViewBag.ThienTai, "Chọn lý do", new { @class = "selectoption", @style = "width:100%", @disabled = "disabled" }) }
            else
            {
                <select id="ThienTaiId" name="ThienTaiId" class="selectoption">
                    <option value="">Chọn lý do</option>
                </select>
            }
             
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <label class="label label-default" for="TenThietBi">Tên đường dây, trạm bị sự cố</label>
            @Html.TextBoxFor(model => model.TenThietBi, new { @class = "form-control", @placeholder = "Nhập Tên đường dây, trạm bị sự cố ...", @readonly = "readonly" })

        </div>
        <div class="col-md-12">
            <label class="label label-default" for="TenTBsco">Tên thiết bị bị sự cố</label>
            @Html.TextBoxFor(model => model.TenTBSco, new { @class = "form-control", @placeholder = "Nhập Tên đường dây, trạm bị sự cố ...", @readonly = "readonly" })

        </div>
        <div class="col-md-12">
            <label class="label label-default" for="TenTBdongcat">Tên thiết bị đóng cắt</label>
            @Html.TextBoxFor(model => model.TenTBTdong, new { @class = "form-control", @placeholder = "Nhập Tên đường dây, trạm bị sự cố ...", @readonly = "readonly" })

        </div>
    </div>
    <div class="row" style="margin-top:10px">
            <div class="col-md-12">
                <label class="control-label" for="DienBienSuCo">Diễn biến sự cố</label>
                @Html.TextAreaFor(model => model.DienBienSuCo, new { @class = "form-control", @placeholder = "Nhập diễn biến sự cố ...", @rows = 7 })
                @Html.ValidationMessageFor(model => model.DienBienSuCo, null, new { @class = "text-danger" })
            </div>
        </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <label class="label label-default" for="TomTat">Tóm tắt nguyên nhân</label>
            @Html.TextAreaFor(model => model.TomTat, new { @class = "form-control", @placeholder = "Nhập tóm tắt ...", @rows = 7, @readonly = "readonly" })
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <label class="label label-default" for="ThoiTiet">Biện pháp khắc phục, cấp điện...</label>
            @Html.TextAreaFor(model => model.ThoiTiet, new { @class = "form-control", @placeholder = "Nhập biện pháp khắc phục ...", @rows = 2, @readonly = "readonly" })
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <label class="label label-default" for="GhiChu">Ghi chú</label>
            @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control", @placeholder = "Nhập ghi chú ...", @rows = 2, @readonly = "readonly" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="divUpLoad" class="row" style="margin-bottom:5px;padding-left:15px;margin-top:10px">
                <label class="label label-default">
                    Biên bản điều tra sự cố
                </label>
                @*<div class="fileUpload btn btn-primary btn-sm">
                        <i class="fa fa-upload mr-5"></i>
                        <span>Chọn file</span>
                        <input id="uploadBtn" type="file" class="upload" multiple="multiple" name="browsefile" />
                    </div>*@
                <div id="upload_prev">
                    @foreach (var tl in lstTaiLieu)
                    {
        <span id="@lstTaiLieu.IndexOf(tl)">
            <div class="filenameupload">
                <a href="@Url.Action("DownloadFile", "SuCo", new { URL = tl.Url, fileName = tl.Description })">
                    <i class="fa fa-paperclip" style="margin-right:5px"></i>
                    @tl.Description
                    Ngày tạo: @string.Format("{0:dd/MM/yyyy HH:mm}", tl.NgayTao)
                    Người tạo: @tl.NguoiTao
                </a>
            </div>
        </span>}
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div id="divUpLoad" class="row" style="margin-bottom:5px;padding-left:15px;margin-top:10px">
                <label class="label label-default">
                    Hình ảnh sự cố
                </label>
                @*<div class="fileUpload btn btn-primary btn-sm">
                        <i class="fa fa-upload mr-5"></i>
                        <span>Chọn file</span>
                        <input id="uploadBtnHinhAnh" type="file" class="upload" multiple="multiple" name="browsefileHA" />
                    </div>*@
                <div id="upload_prevHinhAnh">
                    @foreach (var tl in lstHinhAnh)
                    {
        <span id="@lstHinhAnh.IndexOf(tl)">
            <div class="filenameupload">
                <a href="@Url.Action("DownloadFile", "SuCo", new { URL = tl.Url, fileName = tl.Description})">
                    <i class="fa fa-paperclip" style="margin-right:5px"></i>
                    @tl.Description
                    Ngày tạo: @string.Format("{0:dd/MM/yyyy HH:mm}", tl.NgayTao)
                    Người tạo: @tl.NguoiTao
                </a>
            </div>
        </span>}
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div class="col-sm-12 text-center">
                <code for="ThoiGianXuatHien">
                    Thời gian xuất hiện sự cố
                </code>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ThoiGianXuatHien, new { @class = "form-control", @placeholder = "Ngày xuất hiện sự cố", @readonly = "readonly" })
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input id="GioXuatHien" name="GioXuatHien" value="@Model.GioXuatHien" type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' readonly="readonly">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-sm-12 text-center">
                <code for="ThoiGianXuatHien">
                    Thời gian bắt đầu khắc phục sự cố
                </code>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ThoiGianBatDauKhacPhuc, new { @class = "form-control", @placeholder = "Ngày bắt đầu khắc phục sự cố", @readonly = "readonly" })
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input id="GioBDKhacPhuc" name="GioBDKhacPhuc" value="@Model.GioBDKhacPhuc" type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' readonly="readonly">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-sm-12 text-center">
                <code for="ThoiGianXuatHien">
                    Thời gian khắc phục xong sự cố
                </code>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ThoiGianKhacPhucXong, new { @class = "form-control", @placeholder = "Ngày khắc phục xong sự cố", @readonly = "readonly" })
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input id="GioKhacPhucXong" name="GioKhacPhucXong" value="@Model.GioKhacPhucXong" type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' readonly="readonly">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-sm-12 text-center">
                <code for="ThoiGianXuatHien">
                    Thời gian khôi phục đóng điện
                </code>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ThoiGianKhoiPhuc, new { @class = "form-control", @placeholder = "Ngày khôi phục đóng điện", @readonly = "readonly" })
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        @*@Html.TextBoxFor(model => model.ThoiGianKhoiPhuc_Gio, new {@id="GioKhoiPhuc", @class = "form-control", @placeholder = "Ngày khôi phục đóng điện", @data_plugin_timepicker="", @data_plugin_options="{'showMeridian': false }" })*@
                        <input id="GioKhoiPhuc" name="GioKhoiPhuc" value="@Model.GioKhoiPhuc" type="text" data-plugin-timepicker class="form-control" data-plugin-options='{ "showMeridian": false }' readonly="readonly">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:10px 10px;margin-top:10px; border-top:dashed 1px #000000;">
        <div class="col-sm-6">
            <label>
                Người gửi: <b>@Model.NguoiTao</b>
            </label>
        </div>
        <div class="col-sm-6">
            <label>
                Ngày tạo:  <b>@Model.NgayTao.Value.ToString("dd/MM/yyyy HH:mm:ss")</b>
            </label>
        </div>
        <div class="col-sm-6">
            <label>
                Họ tên: <b>@Model.NT_HOTEN</b>
            </label>
        </div>
        <div class="col-sm-6">
            <label>
                Điện thoại:  <b>@Model.NT_SDT</b>
            </label>
        </div>
    </div>
</div>

<script>
    $(function () {

        $(document).on('click', '.modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

        @if(Model.lstDonViSuCoId!=null && Model.lstDonViSuCoId.Count()>0)
        {
            foreach(var it in Model.lstDonViSuCoId)
            {
                @:$("#lstDonViSuCoId option[value='@it']").prop("selected", true);
            }
        }

        //$(document).on('click', '.close', function () {
        //    $(this).parents('span').remove();
        //    var fileInput = $('#uploadBtn')[0].files[$(this).parents('span').attr("id")];
        //    //clear all selected files from the file input field
        //    var newFileList = Array.from($('#uploadBtn')[0].files);
        //    newFileList.splice($(this).parents('span').attr("id"), 1);
        //})

        //document.getElementById('uploadBtn').onchange = uploadOnChange;


        //$(document).on('click', '.close', function () {
        //    $(this).parents('span').remove();
        //    var fileInput = $('#uploadBtnHinhAnh')[0].files[$(this).parents('span').attr("id")];
        //    //clear all selected files from the file input field
        //    var newFileList = Array.from($('#uploadBtnHinhAnh')[0].files);
        //    newFileList.splice($(this).parents('span').attr("id"), 1);
        //})

        //document.getElementById('uploadBtnHinhAnh').onchange = uploadOnChangeHA;

        // MultiSelect
        (function ($) {

            'use strict';

            if ($.isFunction($.fn['multiselect'])) {

                $(function () {
                    $('[data-plugin-multiselect]').each(function () {

                        var $this = $(this),
                            opts = {};

                        var pluginOptions = $this.data('plugin-options');
                        if (pluginOptions)
                            opts = pluginOptions;

                        $this.themePluginMultiSelect(opts);

                    });
                });

            }

        }).apply(this, [jQuery]);

        (function ($) {

            'use strict';

            if ($.isFunction($.fn['placeholder'])) {

                $('input[placeholder]').placeholder();

            }

        }).apply(this, [jQuery]);

       

    });

    function uploadOnChange() {
        var files = $('#uploadBtn')[0].files;
        $("#upload_prev").html('');
        for (var i = 0; i < files.length; i++) {
            //$("#upload_prev").append('<span id='+i+'>' + '<div class="filenameupload"><i class="fa fa-paperclip mr-5"></i>' + files[i].name + '</div>' + '<p class="close" ><i class="fa fa-trash"></i></p></span>');
            $("#upload_prev").append('<span id=' + i + '>' + '<div class="filenameupload"><i class="fa fa-paperclip" style="margin-right:5px"></i>' + files[i].name + '</div></span>');
        }
    }

    function uploadOnChangeHA() {
        var files = $('#uploadBtnHinhAnh')[0].files;
        $("#uploadBtnHinhAnh").html('');
        for (var i = 0; i < files.length; i++) {
            //$("#upload_prev").append('<span id='+i+'>' + '<div class="filenameupload"><i class="fa fa-paperclip mr-5"></i>' + files[i].name + '</div>' + '<p class="close" ><i class="fa fa-trash"></i></p></span>');
            $("#upload_prevHinhAnh").append('<span id=' + i + '>' + '<div class="filenameupload"><i class="fa fa-paperclip" style="margin-right:5px"></i>' + files[i].name + '</div></span>');
        }
    }

     function TinhChat_OnChange() {
        var id = $("#TinhChatId").val();

        //console.log(id);
        //if (id == 4) {
        //    $('#LyDoId').val('').trigger('change');
        //    $('#LyDoId').html('');
        //    $('#LyDoId').html($('#drlNguyenNhanHL_Temp').html());
        //}
        //else {
        //    $('#LyDoId').val('').trigger('change');
        //     $('#LyDoId').html('');
        //    $('#LyDoId').html($('#drlNguyenNhan_Temp').html());
        //}
       $('#LyDoId').val('').trigger('change');
            $.ajax({
            url: "/Admin/SuCo/GetLyDoByTinhChat",
            data: {
                tc: id
            },
            type: 'GET',
            dataType: "json",
            success: function (response) {
                 var render = "";
                render += "<option value=''>" + 'Chọn lý do...' + "</option>";
                $.each(response, function (i, item) {
                   render += "<option value='" + item.Id + "'>" + item.Ten + "</option>";
                });
                $('#LyDoId').html(render);
            }
        });
    }

</script>
