@model ECP_V2.WebApplication.Models.DonViModel
@{
    ViewBag.Title = "Cập nhật đơn vị";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        HttpMethod = "post",
        OnComplete = "CompleteAjaxRequest"
    };
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script type="text/javascript">
    function CompleteAjaxRequest(obj) {

        var returnObj = eval('(' + obj.responseText + ')');

        if (returnObj.Status == "success") {
            if (returnObj.Message != null) {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Sửa thành công đơn vị',
                    type: 'success'
                });
                window.location.href = returnObj.RedirectUrl;
            }
            else if (returnObj.RedirectUrl != null) {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Sửa thành công đơn vị',
                    type: 'success'
                });
                window.location.href = returnObj.RedirectUrl;
            }
        } else {
            new PNotify({
                title: 'Thông báo lỗi!',
                text: 'Không thêm được đơn vị: ' + returnObj.Message,
                type: 'error'
            });
        }

        return false;
    };
</script>
<h1>
    <a class="mb-xs mt-xs mr-xs btn btn-primary" href="@Url.Action("Index", "DonVi")">
        <i class="fa fa-list"></i> &nbsp; Danh sách đơn vị
    </a>
</h1>
<div class="row-fluid">
    <div class="span12">       
        <div class="row">
            @using (Ajax.BeginForm("Update", "DonVi", null, ajaxOpts, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="warning-area">
                        </div>
                        @Html.HiddenFor(model => model.Id)
                    </header>                   
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Đơn vị cấp trên:</label>
                            <div class="col-sm-8">
                                @*@Html.DropDownList("DviCha", (IEnumerable<SelectListItem>)ViewBag.DviCha, "Chọn đơn vị ...", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DviCha)*@
                                @*@Html.DropDownListFor(m => m.DviCha, (IEnumerable<SelectListItem>)ViewBag.DviCha, new { @class = "form-control" , name = "DviCha", id = "DviCha" })*@
                                @Html.TextBoxFor(x => x.DviCha, new { @class = "form-control text-grey-100", @readonly = "readonly" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mã đơn vị:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.Id, new
                                {
                                    @class = "form-control text-grey-100"@*, @readonly="readonly"*@})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tên đơn vị:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.TenDonVi, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-4 control-label">Tên viết tắt:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.TenVietTat, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Điện thoại:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.SDT, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Vị trí:</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.ViTri, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Loại phiếu:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("MaLP", (IEnumerable<SelectListItem>)ViewBag.LoaiPhieu, "Chọn loại phiếu ...", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MaLP)
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <button class="btn btn-primary" type="submit">Đồng ý</button>
                        <a class="btn btn-default" href="@Url.Action("Index","DonVi")">
                            <span>Hủy bỏ</span>
                        </a>
                    </footer>                  
                </section>
            }
        </div>
    </div>
</div>

