@model IEnumerable<ECP_V2.DataAccess.TongHopBaoCaoDauGio_Result>

@if (Model != null && Model.Count() > 0)
{
    var donViRepository = new ECP_V2.Business.Repository.DonViRepository();
    var donVi = donViRepository.GetById(Session["DonViID"].ToString());

    <div class="block-fluid" style="margin-top:40px">
        <div class="panel panel-visible">
            <div class="panel-heading br-b-n">
                <div class="panel-title hidden-xs">
                    <span class="glyphicon glyphicon-tasks"></span> BÁO CÁO KIỂM SOÁT VIỆC THỰC HIỆN ATLĐ TRÊN LƯỚI ĐIỆN TỪ NGÀY @string.Format("{0:dd/MM/yyyy}", ViewBag.DST) ĐẾN NGÀY @string.Format("{0:dd/MM/yyyy}", ViewBag.DTE)
                </div>
            </div>
            <div class="panel-body pn">
                <div class="text-center">

                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row datatables-header form-inline">
                    </div>
                    <div class="table-responsive">
                        <table cellspacing="0" id="dtGridPhienLV" class="table table-bordered table-striped mb-none dataTable no-footer" role="grid" aria-describedby="datatable-default_info">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        STT
                                    </th>
                                    <th style="text-align:center">
                                        Đơn vị
                                    </th>
                                    <th style="text-align:center">
                                        PA.TCTC-BPAT
                                    </th>
                                    <th style="text-align:center">
                                        PTT
                                    </th>
                                    <th style="text-align:center">
                                        Tổng số PCT
                                    </th>
                                    <th style="text-align:center">
                                        PCT ĐV ngoài
                                    </th>
                                    <th style="text-align:center">
                                        LCT
                                    </th>
                                    <th style="text-align:center">
                                        PKS ATLĐ
                                    </th>
                                    <th style="text-align:center">
                                        BB KT ATLĐ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;font-weight:bold" colspan="2"><a href="@Url.Action("Index", "BaoCao", new { dviId = donVi.Id })">@donVi.TenDonVi</a></td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.PATCTCBPAT)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.PTT)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.TongSoPTT)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.PCTDVNgoai)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.LCT)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.PKSATLD)</td>
                                    <td style="text-align:center;font-weight:bold">@Model.Sum(o => o.BBKTATLD)</td>
                                </tr>
                                @foreach (var it in Model)
                                {
                                    <tr>
                                        <td style="text-align:center">@string.Format("{0:n0}",it.STT)</td>
                                        <td style="text-align:left"><a href="@Url.Action("Index", "BaoCao", new { dviId = it.DonViId })">@it.TenDonVi</a></td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.PATCTCBPAT)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.PTT)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.TongSoPTT)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.PCTDVNgoai)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.LCT)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.PKSATLD)</td>
                                        <td style="text-align:center">@string.Format("{0:n0}", it.BBKTATLD)</td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
