@using System.Globalization
@{
    //string[] roles = ViewBag.listrole;
    ViewBag.Title = "Báo cáo vi phạm hành lang an toàn lưới điện cao áp";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    var year = DateTime.Now.Year;
    var month = DateTime.Now.Month;

    var donViRepository = new ECP_V2.Business.Repository.DonViRepository();
    string donviId = Session["DonViID"].ToString();
    var donVi = donViRepository.GetById(Session["DonViID"].ToString());
}

@section ScriptSignalR{
    @Scripts.Render("~/Scripts/jquery-unified-export-file-1.0.min.js")
    <script src="~/Scripts/AdminJS/mustache/mustache.min.js"></script>
    <script src="~/Scripts/AdminJS/bootbox/bootbox.js"></script>
    <script src="~/Content/admin/shared/javi.js"></script>
    <script src="~/Content/admin/hlat_CongTrinh/index.js"></script>
    <script>
            var ctObj = new ctController();
            ctObj.initialize();
    </script>
}

<style>
    .listRolesName table thead th {
        padding-left: 8px;
        padding-right: 8px !important;
    }

    .nd-isNPC {
        background-color: antiquewhite !important
    }
</style>

<input type="hidden" id="hidKyBaoCao" value="0" />

<div class="block-fluid">
    <div class="panel panel-visible">
        <div class="panel-heading br-b-n">
            <div class="panel-title hidden-xs">
                <span class="glyphicon glyphicon-tasks" style="margin-right:20px"></span>Báo cáo vi phạm hành lang an toàn lưới điện cao áp
                <span id="lblChuyenNPC" style="margin:0px 20px"></span>
            </div>
        </div>

        <div class="panel-body pn">
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap no-footer">
                <div class="row datatables-header form-inline row">
                    <div class="col-sm-12 col-md-4">
                        <span>Chọn đơn vị</span>
                        <br />
                        <select class="form-control" id="ddlDonVi" style="height:38px">
                            @try
                            {
                                @Html.Raw(ECP_V2.Business.Repository.DonViRepository.GetAllDonViHtml2(Session["DonViID"].ToString()))
                            }
                            catch { }
                        </select>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        @*<input id="monthpicker" value="@(DateTime.Now.Month + "/" + DateTime.Now.Year)" title="monthpicker" style="width:100%; height:32px" />*@
                        <div class="col-md-4 col-sm-6">
                            <span>Chọn năm: &nbsp;</span>
                            <br />
                            <select class="form-control" id="ddlYear" style="height:38px">
                                @for (int i = DateTime.Now.Year; i >= DateTime.Now.Year - 4; i--)
                                {
                                    <option value="@i" @(i == DateTime.Now.Year ? " selected='selected'" : "")>Năm @i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6" id="content-denngay">
                            <span>Chọn tháng: </span>
                            <br />
                            <select class="form-control" id="ddlMonth" style="height:38px">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    if (i == month)
                                    {
                                        <option value="@i" selected='selected'>Tháng @i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">Tháng @i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4" style="padding-top: 10px">
                        <div class="col-sm-12 col-md-12">
                            <button type="button" class="btn btn-primary" id="btnExport" style="height:38px; float:right; margin-left:15px"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right:5px"></i>Xuất báo cáo</button>
                            @if (User.IsInRole("DuyetNPC"))
                            {
                                <button type="button" class="btn btn-success" id="btnChuyenNPC" style="height:38px; float:right; margin-left:15px"><i class="fa fa-arrow-circle-o-right" aria-hidden="true" style="margin-right:5px"></i>Chuyển Tổng công ty</button>
                            }

                            @*<button type="button" class="btn btn-primary" id="btn-add-nd" style="height:38px; float:right; margin-left:15px">Thêm bản ghi</button>*@
                            @*@if (User.IsInRole("Admin"))
                                {
                                    <button type="button" class="btn btn-danger" id="btnHuyChuyenNPC" style="height:38px; float:right;display:none; margin-left:15px">Hủy chuyển NPC</button>
                                }*@
                        </div>
                    </div>
                </div>
                <div class="listRolesName list">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="table-hl">
                            <thead>
                                <tr class="gradeX">
                                    <th style="width:3%; text-align:center; vertical-align:middle" rowspan="4">STT</th>
                                    <th style="width:12%; text-align:center; vertical-align:middle" rowspan="4">Tên đơn vị</th>
                                    <th style="width:5%; text-align:center; vertical-align:middle" rowspan="4">Cấp điện áp</th>
                                    <th style="width:55%; text-align:center; vertical-align:middle" colspan="9">Đường dây dẫn điện trên không</th>
                                    <th style="width:7%; text-align:center; vertical-align:middle" rowspan="2">Cáp ngầm</th>
                                    <th style="width:5%; text-align:center; vertical-align:middle" rowspan="4">Đánh giá mực độ nguy hiểm theo HRN (điểm)</th>
                                    <th style="width:5%; text-align:center; vertical-align:middle" rowspan="4">Ghi chú</th>
                                    <th style="width:5%; text-align:center; vertical-align:middle" rowspan="4">Thao tác</th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="width:15%; text-align:center; vertical-align:middle" colspan="2">Tổng số vụ vi phạm</th>
                                    <th style="width:20%; text-align:center; vertical-align:middle" colspan="3">Số vụ vi phạm tăng, giảm trong kỳ</th>
                                    <th style="width:23%; text-align:center; vertical-align:middle" colspan="4">Phân loại nhà ở, công trình vi phạm</th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="width:7%; text-align:center; vertical-align:middle" rowspan="2">Tính từ đầu năm</th>
                                    <th style="width:8%; text-align:center; vertical-align:middle" rowspan="2">Lũy kế đến hiện tại</th>
                                    <th style="width:7%; text-align:center; vertical-align:middle" rowspan="2">Tăng do phát sinh mới</th>
                                    <th style="width:6%; text-align:center; vertical-align:middle" rowspan="2">Giảm do cải tạo</th>
                                    <th style="width:7%; text-align:center; vertical-align:middle" rowspan="2">Giảm do phối hợp với địa phương</th>
                                    <th style="width:23%; text-align:center; vertical-align:middle" colspan="4">Điều 13  NĐ /2014/NĐ-CP</th>
                                    <th style="width:7%; text-align:center; vertical-align:middle" rowspan="2">Điều 14 khoản 2, (a+b); NĐ-14</th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="width:6%; text-align:center; vertical-align:middle">Khoản 1</th>
                                    <th style="width:6%; text-align:center; vertical-align:middle">Khoản 2</th>
                                    <th style="width:6%; text-align:center; vertical-align:middle">Khoản 3</th>
                                    <th style="width:5%; text-align:center; vertical-align:middle">Khoản 5</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content">
                            </tbody>
                            <tfoot>
                                <tr class="gradeX">
                                    <th style="text-align:center; vertical-align:middle" colspan="2" rowspan="5" id="lblTong-string">Tổng cộng theo cấp điện áp </th>
                                    <th style="text-align:center" id="lblTong110">110</th>
                                    <th style="text-align:center" class="lblTong_11"></th>
                                    <th style="text-align:center" class="lblTong_12"></th>
                                    <th style="text-align:center" class="lblTong_13"></th>
                                    <th style="text-align:center" class="lblTong_14"></th>
                                    <th style="text-align:center" class="lblTong_15"></th>
                                    <th style="text-align:center" class="lblTong_16"></th>
                                    <th style="text-align:center" class="lblTong_17"></th>
                                    <th style="text-align:center" class="lblTong_18"></th>
                                    <th style="text-align:center" class="lblTong_19"></th>
                                    <th style="text-align:center" class="lblTong_110"></th>
                                    <th style="text-align:center" class="lblTong_111"></th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="text-align:center" id="lblTong35">35</th>
                                    <th style="text-align:center" class="lblTong_21"></th>
                                    <th style="text-align:center" class="lblTong_22"></th>
                                    <th style="text-align:center" class="lblTong_23"></th>
                                    <th style="text-align:center" class="lblTong_24"></th>
                                    <th style="text-align:center" class="lblTong_25"></th>
                                    <th style="text-align:center" class="lblTong_26"></th>
                                    <th style="text-align:center" class="lblTong_27"></th>
                                    <th style="text-align:center" class="lblTong_28"></th>
                                    <th style="text-align:center" class="lblTong_29"></th>
                                    <th style="text-align:center" class="lblTong_210"></th>
                                    <th style="text-align:center" class="lblTong_211"></th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="text-align:center" id="lblTong22">22</th>
                                    <th style="text-align:center" class="lblTong_31"></th>
                                    <th style="text-align:center" class="lblTong_32"></th>
                                    <th style="text-align:center" class="lblTong_33"></th>
                                    <th style="text-align:center" class="lblTong_34"></th>
                                    <th style="text-align:center" class="lblTong_35"></th>
                                    <th style="text-align:center" class="lblTong_36"></th>
                                    <th style="text-align:center" class="lblTong_37"></th>
                                    <th style="text-align:center" class="lblTong_38"></th>
                                    <th style="text-align:center" class="lblTong_39"></th>
                                    <th style="text-align:center" class="lblTong_310"></th>
                                    <th style="text-align:center" class="lblTong_311"></th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="text-align:center" id="lblTong10">10</th>
                                    <th style="text-align:center" class="lblTong_41"></th>
                                    <th style="text-align:center" class="lblTong_42"></th>
                                    <th style="text-align:center" class="lblTong_43"></th>
                                    <th style="text-align:center" class="lblTong_44"></th>
                                    <th style="text-align:center" class="lblTong_45"></th>
                                    <th style="text-align:center" class="lblTong_46"></th>
                                    <th style="text-align:center" class="lblTong_47"></th>
                                    <th style="text-align:center" class="lblTong_48"></th>
                                    <th style="text-align:center" class="lblTong_49"></th>
                                    <th style="text-align:center" class="lblTong_410"></th>
                                    <th style="text-align:center" class="lblTong_411"></th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="text-align:center" id="lblTong6">6</th>
                                    <th style="text-align:center" class="lblTong_51"></th>
                                    <th style="text-align:center" class="lblTong_52"></th>
                                    <th style="text-align:center" class="lblTong_53"></th>
                                    <th style="text-align:center" class="lblTong_54"></th>
                                    <th style="text-align:center" class="lblTong_55"></th>
                                    <th style="text-align:center" class="lblTong_56"></th>
                                    <th style="text-align:center" class="lblTong_57"></th>
                                    <th style="text-align:center" class="lblTong_58"></th>
                                    <th style="text-align:center" class="lblTong_59"></th>
                                    <th style="text-align:center" class="lblTong_510"></th>
                                    <th style="text-align:center" class="lblTong_511"></th>
                                </tr>
                                <tr class="gradeX">
                                    <th style="text-align:center" id="lblTongAll" colspan="2">Tổng cộng</th>
                                    <th style="text-align:center" class="lblTong_All_CDA"></th>
                                    <th style="text-align:center" class="lblTong_All_1"></th>
                                    <th style="text-align:center" class="lblTong_All_2"></th>
                                    <th style="text-align:center" class="lblTong_All_3"></th>
                                    <th style="text-align:center" class="lblTong_All_4"></th>
                                    <th style="text-align:center" class="lblTong_All_5"></th>
                                    <th style="text-align:center" class="lblTong_All_6"></th>
                                    <th style="text-align:center" class="lblTong_All_7"></th>
                                    <th style="text-align:center" class="lblTong_All_8"></th>
                                    <th style="text-align:center" class="lblTong_All_9"></th>
                                    <th style="text-align:center" class="lblTong_All_10"></th>
                                    <th style="text-align:center" class="lblTong_All_11"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="template-hl-label" type="x-tmpl-mustache">
    <tr class="gradeA hl--label-item" data-donvi="{{Id}}">
        <td class="hl-donvi" rowspan="6" style="text-align:center; vertical-align:middle">{{STT}}</td>
        <td class="hl-donvi" rowspan="6" style="text-align:left; vertical-align:middle">{{TenDonVi}}</td>
    </tr>
</script>


<script id="template-hl" type="x-tmpl-mustache">
    <tr class="gradeA hl-item {{IsNPC}}" data-id="{{Id}}" data-donvi="{{DonViId}}">
        <td class="hl-capdienap" style="text-align:center" data-cdaid="{{cdaId}}">{{CapDienAp}}</td>
        <td class="hl-11" style="text-align:center">{{HL11}}</td>
        <td class="hl-12" style="text-align:center">{{HL12}}</td>
        <td class="hl-21" style="text-align:center">{{HL21}}</td>
        <td class="hl-22" style="text-align:center">{{HL22}}</td>
        <td class="hl-23" style="text-align:center">{{HL23}}</td>
        <td class="hl-31" style="text-align:center">{{HL31}}</td>
        <td class="hl-32" style="text-align:center">{{HL32}}</td>
        <td class="hl-33" style="text-align:center">{{HL33}}</td>
        <td class="hl-34" style="text-align:center">{{HL34}}</td>
        <td class="hl-41" style="text-align:center">{{HL41}}</td>
        <td class="hl-51" style="text-align:center">{{HL51}}</td>
        <td class="hl-61" style="text-align:center">{{HL61}}</td>
        <td class="nd-function" style="text-align: center">
            @if (((donviId.Length == 4 && donVi.DviCha.Equals("PA")) || donviId.ToUpper().Equals("PH") || donviId.ToUpper().Equals("PN") || donviId.ToUpper().Equals("PM")))
            {
            }
            else
            {
                <a href="#" class="btn btn-sm btn-edit-hl" title="Sửa" style="font-size:18px;{{hidden}}"><i class="fa fa-pencil-square-o"></i></a>
                <a href="#" class="btn btn-sm btn-save-hl" title="Lưu" style="font-size:18px; display: none"><i class="fa fa-floppy-o"></i></a>
                <a href="#" class="btn btn-sm btn-cancel-hl" title="Hủy" style="font-size: 18px; display: none"><i class="fa fa-ban"></i></a>
            }

        </td>
    </tr>
</script>

<script id="template-edit-hl" type="x-tmpl-mustache">
    <tr class="gradeA ndvs add-ndvs" data-id="{{Id}}" data-donvi="{{DonViId}}">
        <td class="hl-capdienap" style="text-align:center" data-cdaid="{{cdaId}}">{{CapDienAp}}</td>
        <td class="hl-11" style="text-align:center"><input type="number" value="{{HL11}}" class="txt-hl-11 form-control" placeholder="" /></td>
        <td class="hl-12" style="text-align:center"><input type="number" value="{{HL12}}" class="txt-hl-12 form-control" placeholder="" /></td>
        <td class="hl-21" style="text-align:center"><input type="number" value="{{HL21}}" class="txt-hl-21 form-control" placeholder="" /></td>
        <td class="hl-22" style="text-align:center"><input type="number" value="{{HL22}}" class="txt-hl-22 form-control" placeholder="" /></td>
        <td class="hl-23" style="text-align:center"><input type="number" value="{{HL23}}" class="txt-hl-23 form-control" placeholder="" /></td>
        <td class="hl-31" style="text-align:center"><input type="number" value="{{HL31}}" class="txt-hl-31 form-control" placeholder="" /></td>
        <td class="hl-32" style="text-align:center"><input type="number" value="{{HL32}}" class="txt-hl-32 form-control" placeholder="" /></td>
        <td class="hl-33" style="text-align:center"><input type="number" value="{{HL33}}" class="txt-hl-33 form-control" placeholder="" /></td>
        <td class="hl-34" style="text-align:center"><input type="number" value="{{HL34}}" class="txt-hl-34 form-control" placeholder="" /></td>
        <td class="hl-41" style="text-align:center"><input type="number" value="{{HL41}}" class="txt-hl-41 form-control" placeholder="" /></td>
        <td class="hl-51" style="text-align:center"><input type="number" value="{{HL51}}" class="txt-hl-51 form-control" placeholder="" /></td>
        <td class="hl-61" style="text-align:center"><textarea rows="1" value="{{HL61}}" class="txt-hl-61 form-control" placeholder="">{{HL61}}</textarea></td>

        <td class="nd-function" style="text-align:center">
            <a href="#" class="btn btn-sm btn-save-hl" title="Lưu" style="font-size:18px"><i class="fa fa-floppy-o"></i></a>
            <a href="#" class="btn btn-sm btn-cancel-hl" title="Hủy" data-id="{{Id}}" style="font-size: 18px"><i class="fa fa-ban"></i></a>
        </td>
    </tr>
</script>
