@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated == false)
{
    Response.Redirect("/Account/Login");
}

@if (Session["UserId"] == null)
{
    Response.Redirect("/Account/Login");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - jQuery-File-Upload.MVC5</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/ImageDesign/logo.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <style type="text/css">
        #wrap {
            min-height: 100%;
        }

        #main {
            overflow: auto;
            padding-bottom: 150px; /* this needs to be bigger than footer height*/
        }

        .footer {
            position: relative;
            margin-top: -150px; /* negative value of footer height */
            height: 150px;
            clear: both;
            padding-top: 20px;
        }

        .signature-pad > canvas {
            display: block;
            width: 300px;
            height: 150px;
            margin-bottom: 5px;
        }

    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("jQuery-File-Upload.MVC5", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Show", "Show", "FileUpload")</li>
                    <li>@Html.ActionLink("Add", "Index", "FileUpload")</li>
                    <li>@Html.ActionLink("Edit", "Edit", "FileUpload")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="wrap">
            <div id="main" class="container clear-top">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - jQuery-File-Upload.MVC5</p>
        </footer>
    </div>



    @RenderSection("scripts", required: false)
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120302209-1');
    </script>
</body>
</html>
