@model ECP_V2.WebApplication.Models.ChangePasswordViewModelV2
@{
    ViewBag.Title = "Mật khẩu đã hết hạn, vui lòng thay đổi mật khẩu";
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="VNIT TECH, KSTAT, ECP" />
    <meta name="description" content="Phần mềm được phát triển bởi công ty TNHH VNIT TECH">
    <meta name="author" content="vnit-tech.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/themes/admindesign/css")
    @Styles.Render("~/Content/kendo/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/kendo.default.min.css")
    @Styles.Render("~/Scripts/fbphotobox/css/fbphotobox.css")
    @Styles.Render("~/Scripts/ChatBox/ChatBox.css")


</head>
<body class="">
    <h2 style="text-align:center">@ViewBag.Title.</h2>
    <div class="panel-body">
        <div class="row col-md-6 col-md-offset-3">
            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "frmChangePass", @class = "form-horizontal form-bordered", role = "form" }))
            {
                <input type="hidden" name="UserName" value="@ViewBag.UserName"/>
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <p>
                    @if (TempData["Notification"] != null)
                    {
                        @Html.Hidden("NotificationAutoHide", TempData["NotificationAutoHide"])
                        <div id="NotificationBox" class="@TempData["NotificationCSS"]">
                            @TempData["Notification"]
                        </div>
                    }
                </p>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-3 control-label">
                        Mật khẩu cũ
                    </label>
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-3 control-label">
                        Mật khẩu mới
                    </label>
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-3 control-label">
                        Nhập lại mật khẩu
                    </label>
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="button" value="Cập nhật" onclick="btnSubmitChange_OnClick()" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>

    <script type="text/javascript">
        function btnSubmitChange_OnClick() {

            if ($("#OldPassword").val() == '') {
                new PNotify({
                    title: 'Thông báo!',
                    text: '[Mật khẩu cũ] không được để trống !',
                    type: 'error'
                });
                return;
            }

            if ($("#NewPassword").val() == '') {
                new PNotify({
                    title: 'Thông báo!',
                    text: '[Mật khẩu mới] không được để trống !',
                    type: 'error'
                });
                return;
            }

            if ($("#ConfirmPassword").val() == '') {
                new PNotify({
                    title: 'Thông báo!',
                    text: '[Nhập lại mật khẩu] không được để trống !',
                    type: 'error'
                });
                return;
            }

            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                new PNotify({
                    title: 'Thông báo!',
                    text: '[Mật khẩu mới] và [Nhập lại mật khẩu] không giống nhau !',
                    type: 'error'
                });
                return;
            }

            var pwd = String($("#NewPassword").val());

            //Ít nhất một chữ cái viết hoa tiếng Anh
            var regex1 = /[A-Z]/
            //Ít nhất một chữ cái tiếng Anh viết thường
            var regex2 = /[a-z]/
            //Ít nhất một chữ số
            var regex3 = /[0-9]/
            //Chiều dài tối thiểu tám
            var regex4 = /^.{10,}$/
            //Ít nhất một nhân vật đặc biệt
            var regex5 = /[\@@\#\$\%\^\&\*\(\)\_\+\!]/

            if (regex4.test(pwd)) {
                if (regex1.test(pwd)) {
                    if (regex2.test(pwd)) {
                        if (regex5.test(pwd)) {
                            $("#frmChangePass").submit();
                        }
                        else {
                            new PNotify({
                                title: 'Thông báo!',
                                text: 'Mật khẩu phải có chứa ký tự đặc biệt!',
                                type: 'error'
                            });
                        }
                    }
                    else {
                        new PNotify({
                            title: 'Thông báo!',
                            text: 'Mật khẩu phải có chứa ký tự viết thường!',
                            type: 'error'
                        });
                    }
                }
                else {
                    new PNotify({
                        title: 'Thông báo!',
                        text: 'Mật khẩu phải có chứa ký tự viết hoa!',
                        type: 'error'
                    });
                }
            }
            else {
                new PNotify({
                    title: 'Thông báo!',
                    text: 'Mật khẩu ít nhất phải có 10 ký tự!',
                    type: 'error'
                });
            }

        }
    </script>

    <script src="~/Scripts/AdminPanel/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/select2/select2.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/pnotify/pnotify.custom.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/raphael/raphael.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/morris/morris.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/gauge/gauge.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/liquid-meter/liquid.meter.js"></script>

    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/dropzone/dropzone.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-markdown/js/markdown.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/bootstrap-confirmation/bootstrap-confirmation.js"></script>

    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/Scripts/AdminPanel/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>


    @*<script src="~/Scripts/AdminPanel/assets/javascripts/theme.admin.extension.js"></script>*@
    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/AdminPanel/assets/javascripts/theme.js"></script>
    <!-- Theme Custom -->
    <script src="~/Scripts/AdminPanel/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/AdminPanel/assets/javascripts/theme.init.js"></script>
</body>
</html>
