@model IEnumerable<ECP_V2.DataAccess.tblImage>

@if (Model != null)
{
            foreach (var item in Model)
            {
                var fileInfo = new FileInfo(Server.MapPath("~/Files" + item.Url));

                <tr class="template-download fade in" data-img="@item.Id">
                    <td>
                        <span class="preview">

                            <a href="@("/Files" + item.Url)" title="@Path.GetFileName(Server.MapPath("~/Files" + item.Url))" download="@Path.GetFileName(Server.MapPath("~/Files" + item.Url))" data-gallery=""><img src="@("/Files" + item.Url)" width="60" height="40"></a>

                        </span>
                    </td>
                    <td>
                        <p class="name">

                            <a href="@("/Files" + item.Url)" title="@Path.GetFileName(Server.MapPath("~/Files" + item.Url))" download="@Path.GetFileName(Server.MapPath("~/Files" + item.Url))" data-gallery="">@Path.GetFileName(Server.MapPath("~/Files" + item.Url))</a>

                        </p>

                    </td>
                    <td>
                        <span class="size">@fileInfo.Length Bytes</span>
                    </td>
                    <td>

                        <button type="button" class="btn btn-danger delete" data-url="@("/Files" + item.Url)" data-img="@item.Id" id="btnDeleteImage">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Xóa</span>
                        </button>
                        @*<input type="checkbox" name="delete" value="1" class="toggle">*@

                    </td>
                </tr>
            }
}