@model ECP_V2.Common.Helpers.PagedData<ECP_V2.Business.Repository.NhanVienViewModel>

<script type="text/javascript">
    var pageSize = $("#drlPageSize").val();
    var currentPage = 1;
    var currentSearh = $('#txtSearch').val();
    var curentSort = $("#btnSortName").data("sort");

    $(function () {


        $('a.delete').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            modal: true
        }).click(function () {
            var $this = $(this);
            var NameItem = $this.closest('tr').find('.spanName').html();
            IdItem = $this.closest('tr').find('.Spanid').html();
        });

        $('a#btnResetPassword').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            modal: true
        }).click(function () {
            var $this = $(this);
            IdItem = $this.closest('tr').find('.Spanid').html();
            });

        $('a#btnLockAccount').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            modal: true
        }).click(function () {
            var $this = $(this);
            IdItem = $this.closest('tr').find('.Spanid').html();
            });

        $('a#btnUnLockAccount').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in',
            modal: true
        }).click(function () {
            var $this = $(this);
            IdItem = $this.closest('tr').find('.Spanid').html();
        });

        /*
        Modal Dismiss
        */
        $(document).on('click', '#modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

        $(".page-number").button().click(function (e) {
            e.preventDefault();
            var page = parseInt($(this).children('span').html());
            //alert(page);
            //var page = parseInt($(".page-number-Current").html());
            var sort = $("#btnSortName").data("sort");
            GetList(page, pageSize, '', currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
        });

        $('.prev').on('click', function (e) {
            e.preventDefault();
            GetList(1, pageSize, '', currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
        });

        $('.next').on('click', function (e) {
            e.preventDefault();
            var page = parseInt($("#btnLast").data("sum"));
            GetList(page, pageSize, '', currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
        });

        $('#btnSortName').on('click', function (e) {
            e.preventDefault();
            var page = parseInt($(".page-number-Current").html());
            var sort = $("#btnSortName").data("sort");
            GetList(page, pageSize, sort, currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
        });

    });

    function ShowMsg(title, message) {
        new PNotify({
            title: title,
            text: message,
            type: 'success'
        });
    };

    function txtSearch_onKeyPress(e, el) {
        var key;
        var page = parseInt($(".page-number-Current").html());
        var sort = $("#btnSortName").data("sort");
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox

        if (key == 13) {
            GetList(page, pageSize, '', el.value, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
        }
    }

    function txtSearch_onkeyup(e, el) {
        var page = parseInt($(".page-number-Current").html());
        //var sort = $("#btnSortName").data("sort");
        if (el.value == '')
            GetList(page, pageSize, '', el.value, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
    }

    function GetList(page, pageSize, sortOrder, filter, phongBanId, roleId, donViId ) {
        //loading('Đang tải dữ liệu...', 1);
        //$("#preloader").unbind("click");
        //$('#preloader').click(function () {
        //    unloading();
        //})

        var scriptUrl = "/Admin/TaiKhoan/List?page=" + page
            + "&pageSize=" + pageSize
            + "&sortOrder=" + sortOrder
            + "&currentFilter=" + filter
            + "&PhongBanId=" + phongBanId
            + "&roleId=" + roleId
            + "&DonViId=" + donViId;

        $.ajax({
            url: scriptUrl,
            type: 'GET',
            dataType: 'html',
            async: false,
            success: function (data) {
                $(".list").html("");
                $(".list").html(data);
                //unloading();
            }
        });
    }

    //function loading(name, overlay) {

    //    $('#ndContent').append('<div id="overlay"></div><div id="preloader" style="height: 40px;">' + name + '..</div>');

    //    if (overlay == 1) {
    //        $('#overlay').css('opacity', 0.4).fadeIn(400, function () { $('#preloader').fadeIn(400); });
    //        return false;
    //    }
    //    $('#preloader').fadeIn();
    //}
    //function unloading() {
    //    $('#preloader').fadeOut(400, function () { $('#overlay').fadeOut(); $(this).remove(); })
    //}

    function ResetPasswordModalConfirm() {

        if (IdItem != "") {
                    var scriptUrl = "@Url.Action("ResetPassword", "TaiKhoan")";
                    var formData = JSON.stringify({ id: IdItem });
                    $.ajax({
                        url: scriptUrl,
                        type: "POST",
                        data: formData,
                        contentType: 'application/json',
                        success: function (response) {
                            if (response != null && response.success) {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'success'
                                });
                                $.magnificPopup.close();
                                var page = parseInt($(".page-number-Current").html());
                                GetList(page, pageSize, curentSort, currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
                            } else {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'error'
                                });
                                $.magnificPopup.close();
                            }
                        },
                        error: function () {
                            new PNotify({
                                title: 'Thông báo!',
                                text: 'Không đặt lại được mật khẩu',
                                type: 'error'
                            });
                        }
                    });
                }

                $.magnificPopup.close();
            }

            function ResetPasswordModalDismiss() {
                $.magnificPopup.close();
    }


            function LockAccountModalConfirm() {

        if (IdItem != "") {
                    var scriptUrl = "@Url.Action("LockAccount", "TaiKhoan")";
                    var formData = JSON.stringify({ id: IdItem });
                    $.ajax({
                        url: scriptUrl,
                        type: "POST",
                        data: formData,
                        contentType: 'application/json',
                        success: function (response) {
                            if (response != null && response.success) {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'success'
                                });
                                $.magnificPopup.close();
                                var page = parseInt($(".page-number-Current").html());
                                GetList(page, pageSize, curentSort, currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
                            } else {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'error'
                                });
                                $.magnificPopup.close();
                            }
                        },
                        error: function () {
                            new PNotify({
                                title: 'Thông báo!',
                                text: 'Không khóa được tài khoản này',
                                type: 'error'
                            });
                        }
                    });
                }

                $.magnificPopup.close();
            }

            function LockAccountModalDismiss() {
                $.magnificPopup.close();
    }


            function UnLockAccountModalConfirm() {

        if (IdItem != "") {
                    var scriptUrl = "@Url.Action("UnLockAccount", "TaiKhoan")";
                    var formData = JSON.stringify({ id: IdItem });
                    $.ajax({
                        url: scriptUrl,
                        type: "POST",
                        data: formData,
                        contentType: 'application/json',
                        success: function (response) {
                            if (response != null && response.success) {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'success'
                                });
                                $.magnificPopup.close();
                                var page = parseInt($(".page-number-Current").html());
                                GetList(page, pageSize, curentSort, currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
                            } else {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'error'
                                });
                                $.magnificPopup.close();
                            }
                        },
                        error: function () {
                            new PNotify({
                                title: 'Thông báo!',
                                text: 'Không mở khóa được tài khoản này',
                                type: 'error'
                            });
                        }
                    });
                }

                $.magnificPopup.close();
            }

            function UnLockAccountModalDismiss() {
                $.magnificPopup.close();
            }

            function DeleteTaiKhoanModalConfirm() {

                if (IdItem != "") {
                    var scriptUrl = "@Url.Action("Delete", "TaiKhoan")";
                    var formData = JSON.stringify({ id: IdItem });
                    $.ajax({
                        url: scriptUrl,
                        type: "POST",
                        data: formData,
                        contentType: 'application/json',
                        success: function (response) {
                            if (response != null && response.success) {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'success'
                                });
                                $.magnificPopup.close();
                                var page = parseInt($(".page-number-Current").html());
                                GetList(page, pageSize, curentSort, currentSearh, $('#drlPhongBan').val(), $('#drlRole').val(), $('#drlDonViId').val());
                            } else {
                                new PNotify({
                                    title: 'Thông báo!',
                                    text: response.responseText,
                                    type: 'error'
                                });
                                $.magnificPopup.close();
                            }
                        },
                        error: function () {
                            new PNotify({
                                title: 'Thông báo!',
                                text: 'Không xóa được đơn vị',
                                type: 'error'
                            });
                        }
                    });
                }

                $.magnificPopup.close();
            }

            function DeleteTaiKhoanModalDismiss() {
                $.magnificPopup.close();
            }

</script>

@if (Model.Data.Count > 0)
{
    <table cellspacing="0" id="dataTable" class="table table-hover table-nomargin table-bordered dataTable no-footer" role="grid" aria-describedby="datatable-default_info" style="width: 100%;">
        <thead>
            <tr>
                <th width="50px">
                    STT
                </th>
                <th>
                    Trạng thái
                </th>
                <td>
                    <a id="btnSortName" href="javascript:void(0)" data-sort="@ViewBag.NameSortParm">
                        <b>Tên người dùng</b>
                    </a>
                </td>
                <th>
                    Điện thoại
                </th>
                <th class="text-left">
                    Email
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Tên đăng nhập
                </th>
                <th>
                    Đơn vị
                </th>
                <th>
                    Phòng ban
                </th>
                <th>
                    Nhóm quyền
                </th>
                <th>
                    Ngày hết hạn
                </th>
                <th width="100px" class="text-center">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @{int rowNo = 0;}
            @foreach (var item in Model.Data)
            {
            <tr>
                <td>
                    <span class="Spanid" style="display: none;">@item.Id</span>
                    <span class="spanName">
                        @(rowNo += 1)
                    </span>
                </td>
                <td>
                    @if (item.TrangThai == "Khóa")
                    {
                        <span style="color:red">@item.TrangThai</span>
                    }
                    else
                    {
                        <span style="color:green">@item.TrangThai</span>
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.TenNhanVien))
                    {
                        <span>@item.TenNhanVien</span>
                    }
                    else
                    {
                        <span>Chưa có dữ liệu.</span>
                    }
                </td>

                <td class="text-left">
                    <span>@item.SoDT</span>
                </td>
                <td class="text-left">
                    <span>@item.Email</span>
                </td>
                <td class="text-left">
                    <span>@item.DiaChi</span>
                </td>
                <td class="text-left">
                    <span>@item.UserName</span>
                </td>
                <td class="text-left">
                    <span>@Html.Action("ReturnDvi", "TaiKhoan", new { dviId = @item.DonViId })</span>
                </td>
                <td class="text-left">
                    <span>@item.TenPB</span>
                </td>
                <td class="text-left">
                    <span>@item.RoleId</span>
                </td>
                <td class="text-left">
                    @if (item.ExpirationDate != null)
                    {
                        <span>@string.Format("{0:dd/MM/yyyy}", item.ExpirationDate.GetValueOrDefault().AddHours(7).AddMonths(3))</span>
                    }
                </td>
                <td class="text-center">
                    <a href="@Url.Action("ChiTiet", "TaiKhoan", new { id = item.Id })" class="glyphicon glyphicon-user" title="Xem chi tiết"></a>
                    <a href="@Url.Action("SMS", "TaiKhoan", new { id = item.Id })" class="glyphicon glyphicon-regular-inbox_in" title="Danh sách tin nhắn"></a>
                    <a href="@Url.Action("EditMark", "TaiKhoan", new { id = item.Id })" class="glyphicon glyphicon-regular-building" title="Tỷ lệ chiết khấu"></a>
                    <a href="@Url.Action("Edit", "TaiKhoan", new { id = item.Id })" class="glyphicon glyphicon-pencil" title="Sửa thông tin"></a>
                    <a href="#modelAnimResetPassword" id="btnResetPassword" class="fa fa-key" style="font-size: 16px;" title="Đặt lại mật khẩu"></a>
                    <a href="#modelAnimLockAccount" id="btnLockAccount" class="fa fa-lock" style="font-size: 16px;" title="Khóa tài khoản"></a>
                    <a href="#modelAnimUnLockAccount" id="btnUnLockAccount" class="fa fa-unlock" style="font-size: 16px;" title="Mở khóa tài khoản"></a>
                    <a href="#modalAnim" class="glyphicon glyphicon-trash delete"></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="clear">
    </div>
    <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">
        Hiển thị từ
        <b>@((Model.CurrentPage - 1) * Model.RecordsPerPage + 1)</b>
        đến
        <b>@(((Model.CurrentPage * Model.RecordsPerPage) > Model.TotalRecords ? Model.TotalRecords : (Model.CurrentPage * Model.RecordsPerPage)))</b>
        trong tổng số
        <b>
            @(Model.TotalRecords)
            <b class="text-primary">@(Model.RecordsName)</b>
        </b>
    </div>
    <div class="dataTables_paginate paging_simple_numbers" id="datatable-tabletools_paginate">
        <ul class="pagination" style="margin: 0px 0;">
            <li class="prev">
                <a href="javascript:void(0);" id="btnFirst">
                    <span class="fa fa-chevron-left"></span>
                </a>
            </li>
            @for (int m = 1; m <= Model.NumberOfPages; m++)
            {
                if (m == Model.CurrentPage)
                {
                    <li> <a href="javascript:void(0);" tabindex="0" class="paginate_active page-number-Current">@m</a></li>
                }
                else
                {
                    <li> <a class="paginate_button page-number" href="javascript:void(0);" tabindex="0">@m</a></li>
                }
            }
            <li class="next"><a id="btnLast" href="javascript:void(0);" data-sum="@Model.NumberOfPages"><span class="fa fa-chevron-right"></span></a></li>
        </ul>
    </div>
}
else
{
    <h1 class="text-danger text-center">
        Chưa có dữ liệu!
    </h1>
}
