@model ECP_V2.Common.Helpers.PagedData<ECP_V2.WebApplication.Models.MenuModel>

<script type="text/javascript">
    var pageSize = 10;
    var currentPage = 1;
    var currentSearh = $('#txtSearch').val();
    var curentSort = $("#btnSortName").data("sort");

    $(function () {

        

        /*
        Modal Dismiss
        */
        $(document).on('click', '#modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });


        /*
        Modal Confirm
        */
        $(window).keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                //$(".ui-dialog:visible").find('.ui-dialog-buttonpane').find('button:first').click();
                $("#modal-confirm").click();
                return false;
            }
        });

    });

    function ShowMsg(title, message) {
        new PNotify({
            title: title,
            text: message,
            type: 'success'
        });   
    };

    function txtKeyWordAddChucNang_onKeyPress(e, el) {
        var key;
        //var page = parseInt($(".page-number-Current").html());
        //var sort = $("#btnSortName").data("sort");
        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox

        if (key == 13) {
            GetListChucNangAdd(el.value, $('input[name="ChiTietQuyen"]:checked').val());
        }
    }

    function txtKeyWordAddChucNang_onkeyup(e, el) {
        //var page = parseInt($(".page-number-Current").html());
        //var sort = $("#btnSortName").data("sort");
        if (el.value == '')
            GetListChucNangAdd(el.value, $('input[name="ChiTietQuyen"]:checked').val());
    }

    function GetListChucNangAdd(filter, roleName) {
        //loading('Đang tải dữ liệu...', 1);
        //$("#preloader").unbind("click");
        //$('#preloader').click(function () {
        //    unloading();
        //})

        var scriptUrl = "/Admin/UserPermission/ListTaiKhoanAddChucNang?keyword=" + filter + "&roleName=" + roleName;

        $("#chucnang-add-container").html("");

        $.ajax({
            url: scriptUrl,
            type: 'GET',
            dataType: 'html',
            //async: false,
            success: function (data) {
                $("#chucnang-add-container").html(data);
                //unloading();
            }
        });
    }

    //function loading(name, overlay) {

    //    $('#ndContent').append('<div id="overlay"></div><div id="preloader" style="height: 40px;">' + name + '..</div>');

    //    if (overlay == 1) {
    //        $('#overlay').css('opacity', 0.4).fadeIn(400, function () { $('#preloader').fadeIn(400); });
    //        return false;
    //    }
    //    $('#preloader').fadeIn();
    //}
    //function unloading() {
    //    $('#preloader').fadeOut(400, function () { $('#overlay').fadeOut(); $(this).remove(); })
    //}

</script>

@if (Model != null && Model.Data.Count > 0)
{
        <div class="table-responsive">
            <table cellspacing="0" id="dataTable" class="table table-bordered table-striped mb-none dataTable no-footer" role="grid" aria-describedby="datatable-default_info" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="text-center">
                            Mã Menu
                        </th>
                        <th>
                            Tên Menu
                        </th>
                        <th width="100px" class="text-center">
                            <a href="javascript:;" class="btn btn-primary mark-all-checked-chuc-nang" onclick="markAllChucNangCheck(this)">Chọn tất cả</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>
                                <span class="Spanid" style="display: none;">@item.MenuId</span>
                                <span class="spanName">
                                    @item.MenuId
                                </span>
                            </td>
                            <td>
                                @switch (item.MenuLevel)
                                {
                                    case 1:
                                        {
                                            <span>:: @item.MenuText</span>
                                            break;
                                        }
                                    case 2:
                                        {
                                            <span>::: @item.MenuText</span>
                                            break;
                                        }
                                    default:
                                        {
                                            <span>@item.MenuText</span>
                                            break;
                                        }
                                }
                            </td>

                            <td class="text-center">
                                <input type="checkbox" name="selected" id="txtSelected" class="chkboxChucNang" value="@item.MenuId" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<div class="row datatables-footer">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_info" id="datatable-tabletools_info" role="status" aria-live="polite">
                    Hiển thị từ
                    <b>@((Model.CurrentPage - 1) * Model.RecordsPerPage + 1)</b>
                    đến
                    <b>@(((Model.CurrentPage * Model.RecordsPerPage) > Model.TotalRecords ? Model.TotalRecords : (Model.CurrentPage * Model.RecordsPerPage)))</b>
                    trong tổng số
                    <b>
                        @(Model.TotalRecords)
                        <b class="text-primary">@(Model.RecordsName)</b>
                    </b>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_paginate paging_bs_normal" id="datatable-tabletools_paginate">
                    <ul class="pagination">
                        <li class="prev">
                            <a href="javascript:void(0);" id="btnFirst">
                                <span class="fa fa-chevron-left"></span>
                            </a>
                        </li>
                        @for (int m = 1; m <= Model.NumberOfPages; m++)
                    {
                        if (m == Model.CurrentPage)
                        {
                                <li> <a href="javascript:void(0);" tabindex="0" class="paginate_active page-number-Current">@m</a></li>
                            }
                            else
                            {
                                <li> <a class="paginate_button page-number" href="javascript:void(0);" tabindex="0">@m</a></li>
                            }
                        }
                        <li class="next"><a id="btnLast" href="javascript:void(0);" data-sum="@Model.NumberOfPages"><span class="fa fa-chevron-right"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@
    }
    else
    {
        <h2 class="text-danger text-center">
            Chưa có dữ liệu!
        </h2>
    }